(
    data: (
        id: 42,
        name: "Golbat",
        primary_type: Poison,
        secondary_type: Some(Flying),
        species: "Bat",
        height: 16,
        weight: 550,
    ),
    base: (
        hp: 75,
        atk: 80,
        def: 70,
        sp_atk: 65,
        sp_def: 75,
        speed: 90,
    ),
    training: (
        base_exp: 159,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "wing-attack",
            level: 21,
        ),
        (
            move: "bite",
            level: 16,
        ),
        (
            move: "supersonic",
            level: 1,
        ),
        (
            move: "supersonic",
            level: 11,
        ),
        (
            move: "screech",
            level: 1,
        ),
        (
            move: "confuse-ray",
            level: 28,
        ),
        (
            move: "haze",
            level: 56,
        ),
        (
            move: "leech-life",
            level: 1,
        ),
        (
            move: "mean-look",
            level: 42,
        ),
        (
            move: "poison-fang",
            level: 49,
        ),
        (
            move: "astonish",
            level: 1,
        ),
        (
            move: "astonish",
            level: 6,
        ),
        (
            move: "air-cutter",
            level: 35,
        ),
    ],
)