(
    id: 381,
    name: "Latios",
    primary_type: Dragon,
    secondary_type: Some(Psychic),
    base: (
        hp: 80,
        atk: 90,
        def: 80,
        sp_atk: 130,
        sp_def: 110,
        speed: 110,
    ),
    data: (
        species: "Eon",
        height: 20,
        weight: 600,
    ),
    training: (
        base_exp: 270,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(0),
    ),
    moves: [
        (
            move: "psychic",
            level: 40,
        ),
        (
            move: "recover",
            level: 45,
        ),
        (
            move: "psywave",
            level: 1,
        ),
        (
            move: "protect",
            level: 25,
        ),
        (
            move: "safeguard",
            level: 15,
        ),
        (
            move: "dragon-breath",
            level: 20,
        ),
        (
            move: "memento",
            level: 5,
        ),
        (
            move: "helping-hand",
            level: 10,
        ),
        (
            move: "refresh",
            level: 30,
        ),
        (
            move: "luster-purge",
            level: 35,
        ),
        (
            move: "dragon-dance",
            level: 50,
        ),
    ],
)