(
    data: (
        id: 146,
        name: "Moltres",
        primary_type: Fire,
        secondary_type: Some(Flying),
        species: "Flame",
        height: 20,
        weight: 600,
    ),
    base: (
        hp: 90,
        atk: 100,
        def: 90,
        sp_atk: 125,
        sp_def: 85,
        speed: 90,
    ),
    training: (
        base_exp: 261,
        growth_rate: Slow,
    ),
    breeding: (
        gender: None,
    ),
    moves: [
        (
            move: "wing-attack",
            level: 1,
        ),
        (
            move: "ember",
            level: 1,
        ),
        (
            move: "flamethrower",
            level: 49,
        ),
        (
            move: "fire-spin",
            level: 13,
        ),
        (
            move: "agility",
            level: 25,
        ),
        (
            move: "sky-attack",
            level: 85,
        ),
        (
            move: "endure",
            level: 37,
        ),
        (
            move: "safeguard",
            level: 61,
        ),
        (
            move: "heat-wave",
            level: 73,
        ),
    ],
)