(
    location: (
        min: (
            x: 4,
            y: 7,
        ),
        max: (
            x: 4,
            y: 7,
        ),
    ),
    destination: (
        location: (
            index: "route_11",
        ),
        position: (
            coords: (
                x: 6,
                y: 7,
            ),
            direction: Some(Down),
        ),
        transition: (
            move_on_exit: true,
            warp_on_tile: false,
        ),
    ),
)