(

    identifier: "route_2",
    name: "Route 2",
    file: "3.20_ROUTE 2.map",

    chunk: Some((
        coords: (
            x: 60,
            y: 100,
        ),
        connections: [
            "viridian",
            "pewter",
        ],
    )),
)