(
    id: 284,
    name: "Masquerain",
    primary_type: Bug,
    secondary_type: Some(Flying),
    base: (
        hp: 70,
        atk: 60,
        def: 62,
        sp_atk: 100,
        sp_def: 82,
        speed: 80,
    ),
    data: (
        species: "Eyeball",
        height: 8,
        weight: 36,
    ),
    training: (
        base_exp: 159,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "gust",
            level: 26,
        ),
        (
            move: "whirlwind",
            level: 53,
        ),
        (
            move: "stun-spore",
            level: 40,
        ),
        (
            move: "quick-attack",
            level: 1,
        ),
        (
            move: "quick-attack",
            level: 7,
        ),
        (
            move: "bubble",
            level: 1,
        ),
        (
            move: "scary-face",
            level: 33,
        ),
        (
            move: "sweet-scent",
            level: 1,
        ),
        (
            move: "sweet-scent",
            level: 13,
        ),
        (
            move: "silver-wind",
            level: 47,
        ),
        (
            move: "water-sport",
            level: 1,
        ),
        (
            move: "water-sport",
            level: 19,
        ),
    ],
)