(
    id: 99,
    name: "Kingler",
    primary_type: Water,
    secondary_type: None,
    base: (
        hp: 55,
        atk: 130,
        def: 115,
        sp_atk: 50,
        sp_def: 50,
        speed: 75,
    ),
    data: (
        species: "Pincer",
        height: 13,
        weight: 600,
    ),
    training: (
        base_exp: 166,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "vise-grip",
            level: 1,
        ),
        (
            move: "vise-grip",
            level: 12,
        ),
        (
            move: "guillotine",
            level: 38,
        ),
        (
            move: "stomp",
            level: 27,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "leer",
            level: 5,
        ),
        (
            move: "harden",
            level: 1,
        ),
        (
            move: "harden",
            level: 16,
        ),
        (
            move: "bubble",
            level: 1,
        ),
        (
            move: "crabhammer",
            level: 57,
        ),
        (
            move: "flail",
            level: 65,
        ),
        (
            move: "protect",
            level: 42,
        ),
        (
            move: "metal-claw",
            level: 1,
        ),
        (
            move: "mud-shot",
            level: 23,
        ),
    ],
)