(
    data: (
        id: 87,
        name: "Dewgong",
        primary_type: Water,
        secondary_type: Some(Ice),
        species: "Sea",
        height: 17,
        weight: 1200,
    ),
    base: (
        hp: 90,
        atk: 70,
        def: 80,
        sp_atk: 70,
        sp_def: 95,
        speed: 70,
    ),
    training: (
        base_exp: 166,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "headbutt",
            level: 1,
        ),
        (
            move: "take-down",
            level: 42,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "growl",
            level: 9,
        ),
        (
            move: "ice-beam",
            level: 51,
        ),
        (
            move: "aurora-beam",
            level: 1,
        ),
        (
            move: "aurora-beam",
            level: 21,
        ),
        (
            move: "rest",
            level: 29,
        ),
        (
            move: "icy-wind",
            level: 1,
        ),
        (
            move: "icy-wind",
            level: 17,
        ),
        (
            move: "safeguard",
            level: 64,
        ),
        (
            move: "signal-beam",
            level: 1,
        ),
        (
            move: "sheer-cold",
            level: 34,
        ),
    ],
)