(
    data: (
        id: 289,
        name: "Slaking",
        primary_type: Normal,
        secondary_type: None,
        species: "Lazy",
        height: 20,
        weight: 1305,
    ),
    base: (
        hp: 150,
        atk: 160,
        def: 100,
        sp_atk: 95,
        sp_def: 65,
        speed: 100,
    ),
    training: (
        base_exp: 252,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "counter",
            level: 37,
        ),
        (
            move: "amnesia",
            level: 25,
        ),
        (
            move: "flail",
            level: 43,
        ),
        (
            move: "feint-attack",
            level: 19,
        ),
        (
            move: "swagger",
            level: 36,
        ),
        (
            move: "encore",
            level: 1,
        ),
        (
            move: "encore",
            level: 7,
        ),
        (
            move: "yawn",
            level: 1,
        ),
        (
            move: "slack-off",
            level: 1,
        ),
        (
            move: "slack-off",
            level: 13,
        ),
        (
            move: "covet",
            level: 31,
        ),
    ],
)