(
    chunk: Some((
        config: (
            name: "Saffron City",
            file: "3.11_SAFFRON CITY.map",
        ),
        piece_index: 11,
        coords: (
            x: 264,
            y: 120,
        ),
        connections: [23, 24, 25, 26],
    ))
)