(
    data: (
        id: 300,
        name: "Skitty",
        primary_type: Normal,
        secondary_type: None,
        species: "Kitten",
        height: 6,
        weight: 110,
    ),
    base: (
        hp: 50,
        atk: 45,
        def: 45,
        sp_atk: 35,
        sp_def: 35,
        speed: 50,
    ),
    training: (
        base_exp: 52,
        growth_rate: Fast,
    ),
    breeding: (
        gender: Some(6),
    ),
    moves: [
        (
            move: "double-slap",
            level: 15,
        ),
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "double-edge",
            level: 39,
        ),
        (
            move: "tail-whip",
            level: 3,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "sing",
            level: 13,
        ),
        (
            move: "feint-attack",
            level: 27,
        ),
        (
            move: "charm",
            level: 25,
        ),
        (
            move: "attract",
            level: 7,
        ),
        (
            move: "heal-bell",
            level: 37,
        ),
        (
            move: "assist",
            level: 19,
        ),
        (
            move: "covet",
            level: 31,
        ),
    ],
)