(
    data: (
        id: 295,
        name: "Exploud",
        primary_type: Normal,
        secondary_type: None,
        species: "Loud",
        height: 15,
        weight: 840,
    ),
    base: (
        hp: 104,
        atk: 91,
        def: 63,
        sp_atk: 91,
        sp_def: 73,
        speed: 68,
    ),
    training: (
        base_exp: 221,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "pound",
            level: 1,
        ),
        (
            move: "stomp",
            level: 29,
        ),
        (
            move: "roar",
            level: 45,
        ),
        (
            move: "supersonic",
            level: 23,
        ),
        (
            move: "hyper-beam",
            level: 40,
        ),
        (
            move: "screech",
            level: 37,
        ),
        (
            move: "rest",
            level: 55,
        ),
        (
            move: "sleep-talk",
            level: 55,
        ),
        (
            move: "uproar",
            level: 1,
        ),
        (
            move: "uproar",
            level: 5,
        ),
        (
            move: "hyper-voice",
            level: 63,
        ),
        (
            move: "astonish",
            level: 1,
        ),
        (
            move: "astonish",
            level: 11,
        ),
        (
            move: "howl",
            level: 1,
        ),
        (
            move: "howl",
            level: 15,
        ),
    ],
)