(
    identifier: "youngster",
    sprite: Walk,
    text_color: Blue,
    trainer: Some(
        (
            name: "Youngster",
            type: Trainer,
            music: Some("EncounterBoy"),
        )
    )
)