(
    data: (
        id: 376,
        name: "Metagross",
        primary_type: Steel,
        secondary_type: Some(Psychic),
        species: "Iron",
        height: 16,
        weight: 5500,
    ),
    base: (
        hp: 80,
        atk: 135,
        def: 130,
        sp_atk: 95,
        sp_def: 90,
        speed: 70,
    ),
    training: (
        base_exp: 270,
        growth_rate: Slow,
    ),
    breeding: (
        gender: None,
    ),
    moves: [
        (
            move: "take-down",
            level: 1,
        ),
        (
            move: "hyper-beam",
            level: 77,
        ),
        (
            move: "confusion",
            level: 1,
        ),
        (
            move: "confusion",
            level: 20,
        ),
        (
            move: "psychic",
            level: 38,
        ),
        (
            move: "agility",
            level: 66,
        ),
        (
            move: "scary-face",
            level: 1,
        ),
        (
            move: "scary-face",
            level: 26,
        ),
        (
            move: "pursuit",
            level: 32,
        ),
        (
            move: "metal-claw",
            level: 1,
        ),
        (
            move: "metal-claw",
            level: 20,
        ),
        (
            move: "meteor-mash",
            level: 55,
        ),
        (
            move: "iron-defense",
            level: 44,
        ),
    ],
)