(
    identifier: "route_14",
    name: "Route 14",
    file: "3.32_ROUTE 14.map",

    chunk: Some((
        coords: (
            x: 312,
            y: 270,
        ),
        connections: [
            "route_13",
            "route_15",
        ],
    )),
)