(
    location: (
        min: (
            x: 3,
            y: 3,
        ),
        max: (
            x: 3,
            y: 3,
        ),
    ),
    destination: (
        map: Some("digletts_cave"),
        index: "route_2",
        position: (
            coords: (
                x: 6,
                y: 4,
            ),
        ),
    ),
)