(
    chunk: Some((
        config: (
            name: "Route 3",
            file: "3.21_ROUTE 3.map",
            wild: Some((
                type: "original",
                tiles: Some([0x0D]),
            ))
        ),
        piece_index: 21,
        coords: (
            x: 96,
            y: 70,
        ),
        connections: [2, 22],
    ))
)