(
    id: 85,
    name: "Dodrio",
    primary_type: Normal,
    secondary_type: Some(Flying),
    base: (
        hp: 60,
        atk: 110,
        def: 70,
        sp_atk: 60,
        sp_def: 60,
        speed: 110,
    ),
    data: (
        species: "Triple",
        height: 18,
        weight: 852,
    ),
    training: (
        base_exp: 165,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "fury-attack",
            level: 1,
        ),
        (
            move: "fury-attack",
            level: 13,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "peck",
            level: 1,
        ),
        (
            move: "drill-peck",
            level: 47,
        ),
        (
            move: "agility",
            level: 60,
        ),
        (
            move: "rage",
            level: 25,
        ),
        (
            move: "tri-attack",
            level: 21,
        ),
        (
            move: "pursuit",
            level: 1,
        ),
        (
            move: "pursuit",
            level: 9,
        ),
        (
            move: "uproar",
            level: 38,
        ),
    ],
)