(
    data: (
        id: 76,
        name: "Golem",
        primary_type: Rock,
        secondary_type: Some(Ground),
        species: "Megaton",
        height: 14,
        weight: 3000,
    ),
    base: (
        hp: 80,
        atk: 120,
        def: 130,
        sp_atk: 55,
        sp_def: 65,
        speed: 45,
    ),
    training: (
        base_exp: 223,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "double-edge",
            level: 62,
        ),
        (
            move: "rock-throw",
            level: 1,
        ),
        (
            move: "rock-throw",
            level: 11,
        ),
        (
            move: "earthquake",
            level: 45,
        ),
        (
            move: "defense-curl",
            level: 1,
        ),
        (
            move: "self-destruct",
            level: 21,
        ),
        (
            move: "explosion",
            level: 53,
        ),
        (
            move: "rollout",
            level: 29,
        ),
        (
            move: "magnitude",
            level: 16,
        ),
        (
            move: "mud-sport",
            level: 1,
        ),
        (
            move: "mud-sport",
            level: 6,
        ),
        (
            move: "rock-blast",
            level: 37,
        ),
    ],
)