(
    data: (
        id: 8,
        name: "Wartortle",
        primary_type: Water,
        secondary_type: None,
        species: "Turtle",
        height: 10,
        weight: 225,
    ),
    base: (
        hp: 59,
        atk: 63,
        def: 80,
        sp_atk: 65,
        sp_def: 80,
        speed: 58,
    ),
    training: (
        base_exp: 142,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "tail-whip",
            level: 1,
        ),
        (
            move: "tail-whip",
            level: 4,
        ),
        (
            move: "bite",
            level: 19,
        ),
        (
            move: "water-gun",
            level: 13,
        ),
        (
            move: "hydro-pump",
            level: 53,
        ),
        (
            move: "withdraw",
            level: 10,
        ),
        (
            move: "skull-bash",
            level: 45,
        ),
        (
            move: "bubble",
            level: 1,
        ),
        (
            move: "bubble",
            level: 7,
        ),
        (
            move: "protect",
            level: 31,
        ),
        (
            move: "rapid-spin",
            level: 25,
        ),
        (
            move: "rain-dance",
            level: 37,
        ),
    ],
)