(
    identifier: "cerulean",
    name: "Cerulean City",
    file: "3.3_CERULEAN CITY.map",

    chunk: {
        Left: ("route_4", 10),
        Down: ("route_5", 0),
        Right: ("route_9", 10),
        Up: ("route_24", 12),
    },
)