(
    data: (
        id: 110,
        name: "Weezing",
        primary_type: Poison,
        secondary_type: None,
        species: "Poison",
        height: 12,
        weight: 95,
    ),
    base: (
        hp: 65,
        atk: 90,
        def: 120,
        sp_atk: 85,
        sp_def: 70,
        speed: 60,
    ),
    training: (
        base_exp: 172,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "smokescreen",
            level: 25,
        ),
        (
            move: "haze",
            level: 33,
        ),
        (
            move: "self-destruct",
            level: 1,
        ),
        (
            move: "self-destruct",
            level: 17,
        ),
        (
            move: "smog",
            level: 1,
        ),
        (
            move: "smog",
            level: 9,
        ),
        (
            move: "sludge",
            level: 21,
        ),
        (
            move: "poison-gas",
            level: 1,
        ),
        (
            move: "explosion",
            level: 44,
        ),
        (
            move: "destiny-bond",
            level: 51,
        ),
        (
            move: "memento",
            level: 58,
        ),
    ],
)