(
    id: 73,
    name: "Leech Seed",
    type: Grass,
    category: Status,
    accuracy: Some(90),
    pp: 10,
    
    script: Some((
        actions: [
            Persist(
                (
                    actions: [
                        Damage(PercentMax(0.125))
                    ]
                ),
                false,
            )
        ]
    ))

)
// id = 73
// name = "Leech Seed"
// type = "Grass"
// category = "Status"
// accuracy = 90
// pp = 10

// [script]
// actions = [
    
// ]