(
    id: "1",
    npc: (
        name: "NPC 1",
        type: "woman",
        character: (
            position: (
                coords: (
                    x: 33,
                    y: 17
                ),
                direction: Down
            ),
        ),
        movement: LookAround,
    ),
)