(
    id: "2",
    npc: (
        character: (
            name: "Npc 2",
            position: (
                coords: (
                    x: 21,
                    y: 29
                ),
                direction: Down
            ),
        ),
        type: "fat_man",
        movement: LookAround,
        interact: Message([
            [
                "There aren't many serious POKEMON",
                "TRAINERS here."
            ],
            [
                "They're all like BUG CATCHERS,",
                "you know, just hobbyists."
            ],
            [
                "But PEWTER GYM's BROCK isn't like",
                "that, not one bit."
            ],
        ]),
    ),
    
)