(
    index: 0,
    npc: (
        name: "Oak",
        position: (
            coords: (
                x: 6,
                y: 3
            ),
            direction: Down
        ),
        properties: (
            type: "prof_oak",
        )
    )
)