(
    id: "oak",
    npc: (
        character: (
            name: "Oak",
            position: (
                coords: (
                    x: 6,
                    y: 3
                ),
                direction: Down
            ),
        ),
        type: "prof_oak",
        interact: Message([
            [
                "%n: Hello %p! Have you",
                "seen %r?"
            ]
        ])
    ),
)