(
    location: (
        min: (
            x: 0x2B,
            y: 0x15,
        ),
        max: (
            x: 0x2B,
            y: 0x15,
        ),
    ),
    destination: (
        map: Some("mt_moon"),
        index: "floor_0",
        position: (
            coords: (
                x: 0x1F,
                y: 0x10,
            ),
        ),
    ),
)