(
    location: (
        min: (
            x: 0x27,
            y: 0x04,
        ),
        max: (
            x: 0x27,
            y: 0x04,
        ),
    ),
    destination: (
        map_id: "mt_moon",
        map_index: 2,
        position: (
            coords: (
                x: 5,
                y: 10,
            ),
        ),
    ),
)