(
    id: 158,
    name: "Totodile",
    primary_type: Water,
    secondary_type: None,
    base: (
        hp: 50,
        atk: 65,
        def: 64,
        sp_atk: 44,
        sp_def: 48,
        speed: 43,
    ),
    data: (
        species: "Big",
        height: 6,
        weight: 95,
    ),
    training: (
        base_exp: 63,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "bite",
            level: 20,
        ),
        (
            move: "water-gun",
            level: 13,
        ),
        (
            move: "hydro-pump",
            level: 52,
        ),
        (
            move: "rage",
            level: 7,
        ),
        (
            move: "screech",
            level: 43,
        ),
        (
            move: "slash",
            level: 35,
        ),
        (
            move: "scary-face",
            level: 27,
        ),
    ],
)