(
    location: (
        min: (
            x: 0x1F,
            y: 0x0B,
        ),
        max: (
            x: 0x1F,
            y: 0x0B,
        ),
    ),
    destination: (
        map: Some("mt_moon"),
        index: "floor_1",
        position: (
            coords: (
                x: 17,
                y: 5,
            ),
        ),
    ),
)
