(
    location: (
        min: (
            x: 5,
            y: 10,
        ),
        max: (
            x: 5,
            y: 10,
        ),
    ),
    destination: (
        map_id: "mt_moon",
        map_index: 1,
        position: (
            coords: (
                x: 0x27,
                y: 0x04,
            ),
        ),
    ),
)
