(
    data: (
        id: 273,
        name: "Seedot",
        primary_type: Grass,
        secondary_type: None,
        species: "Acorn",
        height: 5,
        weight: 40,
    ),
    base: (
        hp: 40,
        atk: 40,
        def: 50,
        sp_atk: 30,
        sp_def: 30,
        speed: 30,
    ),
    training: (
        base_exp: 44,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "growth",
            level: 7,
        ),
        (
            move: "harden",
            level: 3,
        ),
        (
            move: "bide",
            level: 1,
        ),
        (
            move: "explosion",
            level: 43,
        ),
        (
            move: "synthesis",
            level: 21,
        ),
        (
            move: "sunny-day",
            level: 31,
        ),
        (
            move: "nature-power",
            level: 13,
        ),
    ],
)