(
    data: (
        id: 271,
        name: "Lombre",
        primary_type: Water,
        secondary_type: Some(Grass),
        species: "Jolly",
        height: 12,
        weight: 325,
    ),
    base: (
        hp: 60,
        atk: 50,
        def: 50,
        sp_atk: 60,
        sp_def: 70,
        speed: 50,
    ),
    training: (
        base_exp: 119,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "growl",
            level: 3,
        ),
        (
            move: "hydro-pump",
            level: 49,
        ),
        (
            move: "absorb",
            level: 7,
        ),
        (
            move: "fury-swipes",
            level: 25,
        ),
        (
            move: "thief",
            level: 37,
        ),
        (
            move: "fake-out",
            level: 19,
        ),
        (
            move: "uproar",
            level: 43,
        ),
        (
            move: "nature-power",
            level: 13,
        ),
        (
            move: "astonish",
            level: 1,
        ),
        (
            move: "water-sport",
            level: 31,
        ),
    ],
)