(
    data: (
        id: 309,
        name: "Electrike",
        primary_type: Electric,
        secondary_type: None,
        species: "Lightning",
        height: 6,
        weight: 152,
    ),
    base: (
        hp: 40,
        atk: 45,
        def: 40,
        sp_atk: 65,
        sp_def: 40,
        speed: 65,
    ),
    training: (
        base_exp: 59,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "leer",
            level: 9,
        ),
        (
            move: "bite",
            level: 33,
        ),
        (
            move: "roar",
            level: 28,
        ),
        (
            move: "thunder-wave",
            level: 4,
        ),
        (
            move: "thunder",
            level: 36,
        ),
        (
            move: "quick-attack",
            level: 17,
        ),
        (
            move: "spark",
            level: 20,
        ),
        (
            move: "charge",
            level: 41,
        ),
        (
            move: "odor-sleuth",
            level: 25,
        ),
        (
            move: "howl",
            level: 12,
        ),
    ],
)