(
    data: (
        id: 293,
        name: "Whismur",
        primary_type: Normal,
        secondary_type: None,
        species: "Whisper",
        height: 6,
        weight: 163,
    ),
    base: (
        hp: 64,
        atk: 51,
        def: 23,
        sp_atk: 51,
        sp_def: 23,
        speed: 28,
    ),
    training: (
        base_exp: 48,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "pound",
            level: 1,
        ),
        (
            move: "stomp",
            level: 25,
        ),
        (
            move: "roar",
            level: 35,
        ),
        (
            move: "supersonic",
            level: 21,
        ),
        (
            move: "screech",
            level: 31,
        ),
        (
            move: "rest",
            level: 41,
        ),
        (
            move: "sleep-talk",
            level: 41,
        ),
        (
            move: "uproar",
            level: 5,
        ),
        (
            move: "hyper-voice",
            level: 45,
        ),
        (
            move: "astonish",
            level: 11,
        ),
        (
            move: "howl",
            level: 15,
        ),
    ],
)