(
    data: (
        id: 183,
        name: "Marill",
        primary_type: Water,
        secondary_type: Some(Fairy),
        species: "Aqua",
        height: 4,
        weight: 85,
    ),
    base: (
        hp: 70,
        atk: 20,
        def: 50,
        sp_atk: 20,
        sp_def: 50,
        speed: 40,
    ),
    training: (
        base_exp: 88,
        growth_rate: Fast,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "double-edge",
            level: 28,
        ),
        (
            move: "tail-whip",
            level: 6,
        ),
        (
            move: "water-gun",
            level: 10,
        ),
        (
            move: "hydro-pump",
            level: 45,
        ),
        (
            move: "bubble-beam",
            level: 21,
        ),
        (
            move: "defense-curl",
            level: 3,
        ),
        (
            move: "rollout",
            level: 15,
        ),
        (
            move: "rain-dance",
            level: 36,
        ),
    ],
)