(
    id: 177,
    name: "Natu",
    primary_type: Psychic,
    secondary_type: Some(Flying),
    base: (
        hp: 40,
        atk: 50,
        def: 45,
        sp_atk: 70,
        sp_def: 45,
        speed: 70,
    ),
    data: (
        species: "Tiny",
        height: 2,
        weight: 20,
    ),
    training: (
        base_exp: 64,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "peck",
            level: 1,
        ),
        (
            move: "psychic",
            level: 50,
        ),
        (
            move: "teleport",
            level: 20,
        ),
        (
            move: "night-shade",
            level: 10,
        ),
        (
            move: "confuse-ray",
            level: 40,
        ),
        (
            move: "future-sight",
            level: 30,
        ),
        (
            move: "wish",
            level: 30,
        ),
    ],
)