(
    identifier: "route_25",
    name: "Route 25",
    file: "3.44_ROUTE 25.map",

    chunk: Some((
        coords: (
            x: 300,
            y: 0,
        ),
        connections: ["route_24"],
    )),
)