(
    id: 253,
    name: "Grovyle",
    primary_type: Grass,
    secondary_type: None,
    base: (
        hp: 50,
        atk: 65,
        def: 45,
        sp_atk: 85,
        sp_def: 65,
        speed: 95,
    ),
    data: (
        species: "Wood",
        height: 9,
        weight: 216,
    ),
    training: (
        base_exp: 142,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "pound",
            level: 1,
        ),
        (
            move: "slam",
            level: 41,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "absorb",
            level: 1,
        ),
        (
            move: "absorb",
            level: 6,
        ),
        (
            move: "agility",
            level: 35,
        ),
        (
            move: "quick-attack",
            level: 1,
        ),
        (
            move: "quick-attack",
            level: 11,
        ),
        (
            move: "screech",
            level: 23,
        ),
        (
            move: "detect",
            level: 47,
        ),
        (
            move: "false-swipe",
            level: 53,
        ),
        (
            move: "fury-cutter",
            level: 16,
        ),
        (
            move: "pursuit",
            level: 17,
        ),
        (
            move: "leaf-blade",
            level: 29,
        ),
    ],
)