(
    id: "1",
    npc: (
        name: "Npc 1",
        type: "fat_man",
        character: (
            position: (
                coords: (
                    x: 13,
                    y: 17
                ),
                direction: Down
            ),
        ),
        interact: Message([
            [
                    "Technology is incredible!"
            ],
            [
                "You can now store and recall items",
                "and POKEMON as data via PC."
            ],
        ]),
    )
)