(
    id: "0",
    npc: (
        name: "Npc 0",
        type: "woman",
        character: (
            position: (
                coords: (
                    x: 3,
                    y: 10
                ),
                direction: Down
            ),
        ),
        interact: Message([
            [
                    "I'm raising POKEMON too."
            ],
            [
                    "When they get strong, they can",
                    "protect me."
            ],
        ]),
    )
)