(
    id: "1",
    npc: (
        name: "NPC 1",
        type: "fat_man",
        character: (
            position: (
                coords: (
                    x: 13,
                    y: 17
                ),
                direction: Down
            ),
        ),
        message: Some([
            (
                lines: [
                    "Technology is incredible!"
                ]
            ),
            (
                lines: [
                    "You can now store and recall items",
                    "and POKEMON as data via PC."
                ]
            )
        ]),
    )
)