(
    data: (
        id: 43,
        name: "Oddish",
        primary_type: Grass,
        secondary_type: Some(Poison),
        species: "Weed",
        height: 5,
        weight: 54,
    ),
    base: (
        hp: 45,
        atk: 50,
        def: 55,
        sp_atk: 75,
        sp_def: 65,
        speed: 30,
    ),
    training: (
        base_exp: 64,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "acid",
            level: 23,
        ),
        (
            move: "absorb",
            level: 1,
        ),
        (
            move: "poison-powder",
            level: 14,
        ),
        (
            move: "stun-spore",
            level: 16,
        ),
        (
            move: "sleep-powder",
            level: 18,
        ),
        (
            move: "petal-dance",
            level: 39,
        ),
        (
            move: "sweet-scent",
            level: 7,
        ),
        (
            move: "moonlight",
            level: 32,
        ),
    ],
)