(
    id: "npc_2",
    npc: (
        character: (
            name: "NPC 47-45",
            position: (
                coords: (
                    x: 47,
                    y: 45,
                ),
                direction: Left,
            ),
            movement: Walking,
            worth: 0,
            frozen: false,
        ),
        type: "bug_catcher",
        movement: Still,
        interact: Nothing,
        trainer: None,
    ),
)