(
    id: "npc_9",
    npc: (
        character: (
            name: "NPC 16-5",
            position: (
                coords: (
                    x: 16,
                    y: 5,
                ),
                direction: Up,
            ),
            movement: Walking,
            worth: 0,
            frozen: false,
        ),
        type: "bug_catcher",
        movement: Still,
        interact: Nothing,
        trainer: None,
    ),
)