(
    index: 0,
    npc: (
        name: "NPC 0",
        position: (
            coords: (
                x: 3,
                y: 10
            ),
            direction: Down
        ),
        properties: (
            type: "woman",
            message: Some([
                (
                    lines: [
                        "I'm raising POKEMON too."
                    ],
                ),
                (
                    lines: [
                        "When they get strong, they can",
                        "protect me."
                    ]
                )
            ]),
        ),
    )
)