(
    identifier: (
        index: 1,
        name: "NPC 1",
        type: "fat_man"
    ),
    position: (
        coords: (
            x: 13,
            y: 17
        ),
        direction: Down
    ),
    properties: (
        message: Some([
            (
                lines: [
                    "Technology is incredible!"
                ]
            ),
            (
                lines: [
                    "You can now store and recall items",
                    "and POKEMON as data via PC."
                ]
            )
        ]),
    ),
    
)