(
    identifier: (
        name: "NPC 1",
        npc_type: "fat_man"
    ),
    position: (
        coords: (
            x: 13,
            y: 17
        ),
        direction: Down
    ),
    message: Some((
        messages: [
            (
                message: [
                    "Technology is incredible!"
                ]
            ),
            (
                message: [
                    "You can now store and recall items",
                    "and POKEMON as data via PC."
                ]
            )
        ]
    )),
)