(
    identifier: (
        index: 0,
        name: "NPC 0",
        npc_type: "woman_1"
    ),
    position: (
        coords: (
            x: 3,
            y: 10
        ),
        direction: Down
    ),
    properties: (
        message: Some((
            messages: [
                (
                    message: [
                        "I'm raising POKEMON too."
                    ],
                ),
                (
                    message: [
                        "When they get strong, they can",
                        "protect me."
                    ]
                )
            ]
        )),
    ),
)