(
    identifier: (
        index: 0,
        name: "NPC 0",
        type: "woman_1"
    ),
    position: (
        coords: (
            x: 3,
            y: 10
        ),
        direction: Down
    ),
    properties: (
        message: Some([
            (
                lines: [
                    "I'm raising POKEMON too."
                ],
            ),
            (
                lines: [
                    "When they get strong, they can",
                    "protect me."
                ]
            )
        ]),
    ),
)