(
    id: 326,
    name: "Grumpig",
    primary_type: Psychic,
    secondary_type: None,
    base: (
        hp: 80,
        atk: 45,
        def: 65,
        sp_atk: 90,
        sp_def: 110,
        speed: 80,
    ),
    data: (
        species: "Manipulate",
        height: 9,
        weight: 715,
    ),
    training: (
        base_exp: 165,
        growth_rate: Fast,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "psybeam",
            level: 1,
        ),
        (
            move: "psybeam",
            level: 16,
        ),
        (
            move: "psychic",
            level: 37,
        ),
        (
            move: "confuse-ray",
            level: 25,
        ),
        (
            move: "psywave",
            level: 1,
        ),
        (
            move: "psywave",
            level: 7,
        ),
        (
            move: "splash",
            level: 1,
        ),
        (
            move: "rest",
            level: 43,
        ),
        (
            move: "snore",
            level: 43,
        ),
        (
            move: "psych-up",
            level: 19,
        ),
        (
            move: "magic-coat",
            level: 28,
        ),
        (
            move: "odor-sleuth",
            level: 1,
        ),
        (
            move: "odor-sleuth",
            level: 10,
        ),
        (
            move: "bounce",
            level: 55,
        ),
    ],
)