(
    id: 171,
    name: "Lanturn",
    primary_type: Water,
    secondary_type: Some(Electric),
    base: (
        hp: 125,
        atk: 58,
        def: 58,
        sp_atk: 76,
        sp_def: 76,
        speed: 67,
    ),
    data: (
        species: "Light",
        height: 12,
        weight: 225,
    ),
    training: (
        base_exp: 161,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "take-down",
            level: 43,
        ),
        (
            move: "supersonic",
            level: 1,
        ),
        (
            move: "supersonic",
            level: 5,
        ),
        (
            move: "water-gun",
            level: 17,
        ),
        (
            move: "hydro-pump",
            level: 50,
        ),
        (
            move: "thunder-wave",
            level: 1,
        ),
        (
            move: "confuse-ray",
            level: 32,
        ),
        (
            move: "bubble",
            level: 1,
        ),
        (
            move: "flail",
            level: 13,
        ),
        (
            move: "spark",
            level: 25,
        ),
        (
            move: "charge",
            level: 61,
        ),
    ],
)