(
    id: "nurse",
    npc: (   
        character: (
            name: "Joy", 
            position: (
                coords: (
                    x: 7,
                    y: 2,
                ),
                direction: Down
            ),
        ),
        type: "nurse",
    ),
)