(
    location: (
        min: (
            x: 7,
            y: 1,
        ),
        max: (
            x: 7,
            y: 1,
        )
    ),
    destination: (
        map_id: "world",
        map_index: 20,
        position: (
            coords: (
                x: 0x12,
                y: 0x29,
            ),
            direction: Some(Up),
        )
    )
)