(
    data: (
        id: 67,
        name: "Machoke",
        primary_type: Fighting,
        secondary_type: None,
        species: "Superpower",
        height: 15,
        weight: 705,
    ),
    base: (
        hp: 80,
        atk: 100,
        def: 70,
        sp_atk: 50,
        sp_def: 60,
        speed: 45,
    ),
    training: (
        base_exp: 142,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(2),
    ),
    moves: [
        (
            move: "karate-chop",
            level: 13,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "submission",
            level: 41,
        ),
        (
            move: "low-kick",
            level: 1,
        ),
        (
            move: "seismic-toss",
            level: 19,
        ),
        (
            move: "focus-energy",
            level: 1,
        ),
        (
            move: "focus-energy",
            level: 7,
        ),
        (
            move: "scary-face",
            level: 51,
        ),
        (
            move: "foresight",
            level: 22,
        ),
        (
            move: "dynamic-punch",
            level: 59,
        ),
        (
            move: "vital-throw",
            level: 33,
        ),
        (
            move: "cross-chop",
            level: 46,
        ),
        (
            move: "revenge",
            level: 25,
        ),
    ],
)