(
    data: (
        id: 18,
        name: "Pidgeot",
        primary_type: Normal,
        secondary_type: Some(Flying),
        species: "Bird",
        height: 15,
        weight: 395,
    ),
    base: (
        hp: 83,
        atk: 80,
        def: 75,
        sp_atk: 70,
        sp_def: 70,
        speed: 101,
    ),
    training: (
        base_exp: 216,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "gust",
            level: 1,
        ),
        (
            move: "gust",
            level: 9,
        ),
        (
            move: "wing-attack",
            level: 27,
        ),
        (
            move: "whirlwind",
            level: 20,
        ),
        (
            move: "sand-attack",
            level: 1,
        ),
        (
            move: "sand-attack",
            level: 5,
        ),
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "agility",
            level: 48,
        ),
        (
            move: "quick-attack",
            level: 1,
        ),
        (
            move: "quick-attack",
            level: 13,
        ),
        (
            move: "mirror-move",
            level: 62,
        ),
        (
            move: "feather-dance",
            level: 34,
        ),
    ],
)