(
    index: 10,
    npc: (
        alive: false,
        name: "%r",
        identifier: (
            index: 10,
            
            
        ),
        position: (
            coords: (
                x: 5,
                y: 4,
            ),
            direction: Down,
        ),
        properties: (
            type: "rival",
        ),
        trainer: Some(
            (
                battle_on_interact: false,
                encounter_message: [],
                party: [
                    (
                        id: 7,
                        data: (
                            level: 5,
                            gender: Male,
                        ),
                    ),
                ],
                worth: 80,
            )
        ),
    )
)