(
    id: "antidote",
    name: "Antidote",
    description: [
        "A spray-type medicine.",
        "It heals one POKEMON from a",
        "poisoning."
    ],
    script: (
        consume: true,
        actions: [
            CurePokemon(Some(Poison)),
        ],
    ),
)