(
    data: (
        id: 332,
        name: "Cacturne",
        primary_type: Grass,
        secondary_type: Some(Dark),
        species: "Scarecrow",
        height: 13,
        weight: 774,
    ),
    base: (
        hp: 70,
        atk: 115,
        def: 60,
        sp_atk: 115,
        sp_def: 60,
        speed: 55,
    ),
    training: (
        base_exp: 166,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "sand-attack",
            level: 17,
        ),
        (
            move: "poison-sting",
            level: 1,
        ),
        (
            move: "pin-missile",
            level: 21,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "absorb",
            level: 1,
        ),
        (
            move: "absorb",
            level: 5,
        ),
        (
            move: "leech-seed",
            level: 13,
        ),
        (
            move: "growth",
            level: 1,
        ),
        (
            move: "growth",
            level: 9,
        ),
        (
            move: "cotton-spore",
            level: 47,
        ),
        (
            move: "feint-attack",
            level: 29,
        ),
        (
            move: "spikes",
            level: 35,
        ),
        (
            move: "destiny-bond",
            level: 59,
        ),
        (
            move: "sandstorm",
            level: 53,
        ),
        (
            move: "ingrain",
            level: 25,
        ),
        (
            move: "revenge",
            level: 1,
        ),
        (
            move: "needle-arm",
            level: 41,
        ),
    ],
)