(
    data: (
        id: 242,
        name: "Blissey",
        primary_type: Normal,
        secondary_type: None,
        species: "Happiness",
        height: 15,
        weight: 468,
    ),
    base: (
        hp: 255,
        atk: 10,
        def: 10,
        sp_atk: 75,
        sp_def: 135,
        speed: 55,
    ),
    training: (
        base_exp: 608,
        growth_rate: Fast,
    ),
    breeding: (
        gender: Some(8),
    ),
    moves: [
        (
            move: "pound",
            level: 1,
        ),
        (
            move: "double-slap",
            level: 13,
        ),
        (
            move: "double-edge",
            level: 47,
        ),
        (
            move: "tail-whip",
            level: 4,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "sing",
            level: 23,
        ),
        (
            move: "minimize",
            level: 18,
        ),
        (
            move: "defense-curl",
            level: 33,
        ),
        (
            move: "light-screen",
            level: 40,
        ),
        (
            move: "egg-bomb",
            level: 28,
        ),
        (
            move: "soft-boiled",
            level: 10,
        ),
        (
            move: "refresh",
            level: 7,
        ),
    ],
)