(
    id: 189,
    name: "Jumpluff",
    primary_type: Grass,
    secondary_type: Some(Flying),
    base: (
        hp: 75,
        atk: 55,
        def: 70,
        sp_atk: 55,
        sp_def: 95,
        speed: 110,
    ),
    data: (
        species: "Cottonweed",
        height: 8,
        weight: 30,
    ),
    training: (
        base_exp: 207,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "tackle",
            level: 10,
        ),
        (
            move: "tail-whip",
            level: 1,
        ),
        (
            move: "tail-whip",
            level: 5,
        ),
        (
            move: "mega-drain",
            level: 44,
        ),
        (
            move: "leech-seed",
            level: 22,
        ),
        (
            move: "poison-powder",
            level: 13,
        ),
        (
            move: "stun-spore",
            level: 15,
        ),
        (
            move: "sleep-powder",
            level: 17,
        ),
        (
            move: "splash",
            level: 1,
        ),
        (
            move: "cotton-spore",
            level: 33,
        ),
        (
            move: "synthesis",
            level: 1,
        ),
        (
            move: "synthesis",
            level: 5,
        ),
    ],
)