(
    id: 57,
    name: "Primeape",
    primary_type: Fighting,
    secondary_type: None,
    base: (
        hp: 65,
        atk: 105,
        def: 60,
        sp_atk: 60,
        sp_def: 70,
        speed: 95,
    ),
    data: (
        species: "Pig",
        height: 10,
        weight: 320,
    ),
    training: (
        base_exp: 159,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "karate-chop",
            level: 11,
        ),
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "thrash",
            level: 62,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "low-kick",
            level: 1,
        ),
        (
            move: "low-kick",
            level: 6,
        ),
        (
            move: "seismic-toss",
            level: 26,
        ),
        (
            move: "rage",
            level: 1,
        ),
        (
            move: "rage",
            level: 28,
        ),
        (
            move: "screech",
            level: 53,
        ),
        (
            move: "focus-energy",
            level: 21,
        ),
        (
            move: "fury-swipes",
            level: 16,
        ),
        (
            move: "swagger",
            level: 44,
        ),
        (
            move: "cross-chop",
            level: 35,
        ),
    ],
)