(
    config: (
        identifier: "saffron",
        name: "Saffron City",
        file: "3.11_SAFFRON CITY.map",
    ),
    coords: (
        x: 264,
        y: 120,
    ),
    connections: [
        "route_5",
        "route_6",
        "route_7",
        "route_8",
    ],
)