(
    location: (
        min: (
            x: 0x52,
            y: 0x47,
        ),
        max: (
            x: 0x52,
            y: 0x47,
        ),
    ),
    destination: (
        map_id: "digletts_cave",
        map_index: 2,
        position: (
            coords: (
                x: 6,
                y: 4,
            ),
        )
    ),
)