(
    location: (
        min: (
            x: 3,
            y: 3,
        ),
        max: (
            x: 3,
            y: 3,
        ),
    ),
    destination: (
        map_id: "digletts_cave",
        map_index: 0,
        position: (
            coords: (
                x: 6,
                y: 4,
            ),
        ),
    ),
)