(
    id: 193,
    name: "Yanma",
    primary_type: Bug,
    secondary_type: Some(Flying),
    base: (
        hp: 65,
        atk: 65,
        def: 45,
        sp_atk: 75,
        sp_def: 45,
        speed: 95,
    ),
    data: (
        species: "Clear",
        height: 12,
        weight: 380,
    ),
    training: (
        base_exp: 78,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "wing-attack",
            level: 39,
        ),
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "supersonic",
            level: 45,
        ),
        (
            move: "sonic-boom",
            level: 17,
        ),
        (
            move: "hypnosis",
            level: 23,
        ),
        (
            move: "quick-attack",
            level: 6,
        ),
        (
            move: "screech",
            level: 50,
        ),
        (
            move: "double-team",
            level: 12,
        ),
        (
            move: "foresight",
            level: 1,
        ),
        (
            move: "detect",
            level: 28,
        ),
        (
            move: "uproar",
            level: 34,
        ),
    ],
)