(
    index: 0,
    npc: (
        name: "Mom",
        position: (
            coords: (
                x: 8,
                y: 4
            ),
            direction: Left
        ),
        properties: (
            type: "mom",
        ),
    )
)