(
    location: (
        min: (
            x: 0x1C,
            y: 0x12,
        ),
        max: (
            x: 0x1C,
            y: 0x12,
        )
    ),
    destination: (
        map: Some("pokemarts"),
        index: "pewter",
        position: (
            coords: (
                x: 4,
                y: 7,
            ),
            direction: Some(Up),
        ),
        transition: (
            move_on_exit: false,
            warp_on_tile: true,
        ),
    ),
)