(
    location: (
        min: (
            x: 0x11,
            y: 0x19,
        ),
        max: (
            x: 0x11,
            y: 0x19,
        ),
    ),
    destination: (
        map_id: "pokemon_centers",
        map_index: 2,
        position: (
            coords: (
                x: 7,
                y: 8,
            ),
            direction: Some(Up),
        ),
    ),
)