(
    config: (
        identifier: "fuchsia",
        name: "Fuchsia City",
        file: "3.7_FUCHSIA CITY.map",
    ),
    coords: (
        x: 192,
        y: 300,
    ),
    connections: [
        "route_15",
        "route_18",
        "route_19"
    ],
)