(
    data: (
        id: 56,
        name: "Mankey",
        primary_type: Fighting,
        secondary_type: None,
        species: "Pig",
        height: 5,
        weight: 280,
    ),
    base: (
        hp: 40,
        atk: 80,
        def: 35,
        sp_atk: 35,
        sp_def: 45,
        speed: 70,
    ),
    training: (
        base_exp: 61,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "karate-chop",
            level: 11,
        ),
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "thrash",
            level: 46,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "low-kick",
            level: 6,
        ),
        (
            move: "seismic-toss",
            level: 26,
        ),
        (
            move: "screech",
            level: 41,
        ),
        (
            move: "focus-energy",
            level: 21,
        ),
        (
            move: "fury-swipes",
            level: 16,
        ),
        (
            move: "swagger",
            level: 36,
        ),
        (
            move: "cross-chop",
            level: 31,
        ),
    ],
)