(
    data: (
        id: 299,
        name: "Nosepass",
        primary_type: Rock,
        secondary_type: None,
        species: "Compass",
        height: 10,
        weight: 970,
    ),
    base: (
        hp: 30,
        atk: 45,
        def: 135,
        sp_atk: 45,
        sp_def: 90,
        speed: 30,
    ),
    training: (
        base_exp: 75,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "thunder-wave",
            level: 22,
        ),
        (
            move: "rock-throw",
            level: 13,
        ),
        (
            move: "harden",
            level: 7,
        ),
        (
            move: "rest",
            level: 37,
        ),
        (
            move: "rock-slide",
            level: 28,
        ),
        (
            move: "zap-cannon",
            level: 43,
        ),
        (
            move: "lock-on",
            level: 46,
        ),
        (
            move: "sandstorm",
            level: 31,
        ),
        (
            move: "block",
            level: 16,
        ),
    ],
)