(
    id: 345,
    name: "Lileep",
    primary_type: Rock,
    secondary_type: Some(Grass),
    base: (
        hp: 66,
        atk: 41,
        def: 77,
        sp_atk: 61,
        sp_def: 87,
        speed: 23,
    ),
    data: (
        species: "Sea",
        height: 10,
        weight: 238,
    ),
    training: (
        base_exp: 71,
        growth_rate: SlowThenVeryFast,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "acid",
            level: 15,
        ),
        (
            move: "confuse-ray",
            level: 29,
        ),
        (
            move: "constrict",
            level: 8,
        ),
        (
            move: "amnesia",
            level: 36,
        ),
        (
            move: "ancient-power",
            level: 43,
        ),
        (
            move: "stockpile",
            level: 50,
        ),
        (
            move: "spit-up",
            level: 50,
        ),
        (
            move: "swallow",
            level: 50,
        ),
        (
            move: "ingrain",
            level: 22,
        ),
        (
            move: "astonish",
            level: 1,
        ),
    ],
)