(
    id: 228,
    name: "Houndour",
    primary_type: Dark,
    secondary_type: Some(Fire),
    base: (
        hp: 45,
        atk: 60,
        def: 30,
        sp_atk: 80,
        sp_def: 50,
        speed: 65,
    ),
    data: (
        species: "Dark",
        height: 6,
        weight: 108,
    ),
    training: (
        base_exp: 66,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "bite",
            level: 25,
        ),
        (
            move: "roar",
            level: 19,
        ),
        (
            move: "ember",
            level: 1,
        ),
        (
            move: "flamethrower",
            level: 43,
        ),
        (
            move: "smog",
            level: 13,
        ),
        (
            move: "feint-attack",
            level: 37,
        ),
        (
            move: "crunch",
            level: 49,
        ),
        (
            move: "odor-sleuth",
            level: 31,
        ),
        (
            move: "howl",
            level: 7,
        ),
    ],
)