(
    id: 142,
    name: "Aerodactyl",
    primary_type: Rock,
    secondary_type: Some(Flying),
    base: (
        hp: 80,
        atk: 105,
        def: 65,
        sp_atk: 60,
        sp_def: 75,
        speed: 130,
    ),
    data: (
        species: "Fossil",
        height: 18,
        weight: 590,
    ),
    training: (
        base_exp: 180,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "wing-attack",
            level: 1,
        ),
        (
            move: "take-down",
            level: 43,
        ),
        (
            move: "bite",
            level: 15,
        ),
        (
            move: "supersonic",
            level: 22,
        ),
        (
            move: "hyper-beam",
            level: 50,
        ),
        (
            move: "agility",
            level: 8,
        ),
        (
            move: "scary-face",
            level: 36,
        ),
        (
            move: "ancient-power",
            level: 29,
        ),
    ],
)