(
    id: 199,
    name: "Slowking",
    primary_type: Water,
    secondary_type: Some(Psychic),
    base: (
        hp: 95,
        atk: 75,
        def: 80,
        sp_atk: 100,
        sp_def: 110,
        speed: 30,
    ),
    data: (
        species: "Royal",
        height: 20,
        weight: 795,
    ),
    training: (
        base_exp: 172,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "headbutt",
            level: 29,
        ),
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "growl",
            level: 6,
        ),
        (
            move: "disable",
            level: 24,
        ),
        (
            move: "water-gun",
            level: 13,
        ),
        (
            move: "confusion",
            level: 17,
        ),
        (
            move: "psychic",
            level: 40,
        ),
        (
            move: "curse",
            level: 1,
        ),
        (
            move: "swagger",
            level: 36,
        ),
        (
            move: "psych-up",
            level: 47,
        ),
        (
            move: "yawn",
            level: 1,
        ),
    ],
)