(
    data: (
        id: 306,
        name: "Aggron",
        primary_type: Steel,
        secondary_type: Some(Rock),
        species: "Iron",
        height: 21,
        weight: 3600,
    ),
    base: (
        hp: 70,
        atk: 110,
        def: 180,
        sp_atk: 60,
        sp_def: 60,
        speed: 50,
    ),
    training: (
        base_exp: 239,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "headbutt",
            level: 1,
        ),
        (
            move: "headbutt",
            level: 10,
        ),
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "take-down",
            level: 25,
        ),
        (
            move: "double-edge",
            level: 63,
        ),
        (
            move: "roar",
            level: 21,
        ),
        (
            move: "harden",
            level: 1,
        ),
        (
            move: "harden",
            level: 4,
        ),
        (
            move: "protect",
            level: 37,
        ),
        (
            move: "mud-slap",
            level: 1,
        ),
        (
            move: "mud-slap",
            level: 7,
        ),
        (
            move: "iron-tail",
            level: 29,
        ),
        (
            move: "metal-claw",
            level: 13,
        ),
        (
            move: "metal-sound",
            level: 50,
        ),
        (
            move: "iron-defense",
            level: 17,
        ),
    ],
)