(
    id: 344,
    name: "Claydol",
    primary_type: Ground,
    secondary_type: Some(Psychic),
    base: (
        hp: 60,
        atk: 70,
        def: 105,
        sp_atk: 70,
        sp_def: 120,
        speed: 75,
    ),
    data: (
        species: "Clay",
        height: 15,
        weight: 1080,
    ),
    training: (
        base_exp: 175,
        growth_rate: Medium,
    ),
    breeding: (
        gender: None,
    ),
    moves: [
        (
            move: "psybeam",
            level: 11,
        ),
        (
            move: "hyper-beam",
            level: 36,
        ),
        (
            move: "confusion",
            level: 1,
        ),
        (
            move: "teleport",
            level: 1,
        ),
        (
            move: "harden",
            level: 1,
        ),
        (
            move: "harden",
            level: 3,
        ),
        (
            move: "self-destruct",
            level: 19,
        ),
        (
            move: "explosion",
            level: 55,
        ),
        (
            move: "mud-slap",
            level: 7,
        ),
        (
            move: "sandstorm",
            level: 31,
        ),
        (
            move: "rapid-spin",
            level: 1,
        ),
        (
            move: "rapid-spin",
            level: 5,
        ),
        (
            move: "ancient-power",
            level: 25,
        ),
        (
            move: "rock-tomb",
            level: 15,
        ),
        (
            move: "cosmic-power",
            level: 42,
        ),
    ],
)