(
    condition: (
        location: (
            min: (
                x: 3,
                y: 3
            ),
            max: (
                x: 3,
                y: 3
            )
        ),
        event: None,
    ),
    actions: [
        Battle(
            (
                battle_type: GymLeader,
                party: (
                    pokemon: [
                        (
                            id: 6,
                            level: 75,
                        )
                    ]
                ),
                trainer_data: Some((
                    name: "Joe Mama",
                    npc_type: "mom"
                ))
            )
        )
    ]
)