(
    data: (
        id: 270,
        name: "Lotad",
        primary_type: Water,
        secondary_type: Some(Grass),
        species: "Water",
        height: 5,
        weight: 26,
    ),
    base: (
        hp: 40,
        atk: 30,
        def: 30,
        sp_atk: 40,
        sp_def: 50,
        speed: 30,
    ),
    training: (
        base_exp: 44,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "growl",
            level: 3,
        ),
        (
            move: "mist",
            level: 21,
        ),
        (
            move: "absorb",
            level: 7,
        ),
        (
            move: "mega-drain",
            level: 43,
        ),
        (
            move: "rain-dance",
            level: 31,
        ),
        (
            move: "nature-power",
            level: 13,
        ),
        (
            move: "astonish",
            level: 1,
        ),
    ],
)