(
    id: "0",
    npc: (
        character: (
            name: "Npc 0",
            position: (
                coords: (
                    x: 6,
                    y: 15
                ),
                direction: Down,
            ),
        ),
        type: "woman",
        movement: LookAround,
    ),
)