(
    id: 206,
    name: "Dunsparce",
    primary_type: Normal,
    secondary_type: None,
    base: (
        hp: 100,
        atk: 70,
        def: 70,
        sp_atk: 65,
        sp_def: 65,
        speed: 45,
    ),
    data: (
        species: "Land",
        height: 15,
        weight: 140,
    ),
    training: (
        base_exp: 145,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "take-down",
            level: 41,
        ),
        (
            move: "rage",
            level: 1,
        ),
        (
            move: "screech",
            level: 34,
        ),
        (
            move: "defense-curl",
            level: 4,
        ),
        (
            move: "glare",
            level: 14,
        ),
        (
            move: "flail",
            level: 44,
        ),
        (
            move: "spite",
            level: 24,
        ),
        (
            move: "rollout",
            level: 21,
        ),
        (
            move: "pursuit",
            level: 31,
        ),
        (
            move: "yawn",
            level: 11,
        ),
        (
            move: "endeavor",
            level: 51,
        ),
    ],
)