(
    id: 58,
    name: "Growlithe",
    primary_type: Fire,
    secondary_type: None,
    base: (
        hp: 55,
        atk: 70,
        def: 45,
        sp_atk: 70,
        sp_def: 50,
        speed: 60,
    ),
    data: (
        species: "Puppy",
        height: 7,
        weight: 190,
    ),
    training: (
        base_exp: 70,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(2),
    ),
    moves: [
        (
            move: "take-down",
            level: 25,
        ),
        (
            move: "leer",
            level: 13,
        ),
        (
            move: "bite",
            level: 1,
        ),
        (
            move: "roar",
            level: 1,
        ),
        (
            move: "ember",
            level: 7,
        ),
        (
            move: "flamethrower",
            level: 49,
        ),
        (
            move: "agility",
            level: 43,
        ),
        (
            move: "flame-wheel",
            level: 31,
        ),
        (
            move: "helping-hand",
            level: 37,
        ),
        (
            move: "odor-sleuth",
            level: 19,
        ),
    ],
)