(
    id: 338,
    name: "Solrock",
    primary_type: Rock,
    secondary_type: Some(Psychic),
    base: (
        hp: 90,
        atk: 95,
        def: 85,
        sp_atk: 55,
        sp_def: 65,
        speed: 70,
    ),
    data: (
        species: "Meteorite",
        height: 12,
        weight: 1540,
    ),
    training: (
        base_exp: 161,
        growth_rate: Fast,
    ),
    breeding: (
        gender: None,
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "solar-beam",
            level: 43,
        ),
        (
            move: "fire-spin",
            level: 19,
        ),
        (
            move: "rock-throw",
            level: 13,
        ),
        (
            move: "confusion",
            level: 7,
        ),
        (
            move: "harden",
            level: 1,
        ),
        (
            move: "psywave",
            level: 25,
        ),
        (
            move: "explosion",
            level: 49,
        ),
        (
            move: "rock-slide",
            level: 37,
        ),
        (
            move: "cosmic-power",
            level: 31,
        ),
    ],
)