(
    id: "potion",
    name: "Potion",
    description: [
        "Heals a pokemon for 20 HP."
    ],
    use: Script((
        consume: true,
        actions: [
            HealPokemon(20),
        ],
    )),
)