(
    id: 346,
    name: "Cradily",
    primary_type: Rock,
    secondary_type: Some(Grass),
    base: (
        hp: 86,
        atk: 81,
        def: 97,
        sp_atk: 81,
        sp_def: 107,
        speed: 43,
    ),
    data: (
        species: "Barnacle",
        height: 15,
        weight: 604,
    ),
    training: (
        base_exp: 173,
        growth_rate: SlowThenVeryFast,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "acid",
            level: 1,
        ),
        (
            move: "acid",
            level: 15,
        ),
        (
            move: "confuse-ray",
            level: 29,
        ),
        (
            move: "constrict",
            level: 1,
        ),
        (
            move: "constrict",
            level: 8,
        ),
        (
            move: "amnesia",
            level: 36,
        ),
        (
            move: "ancient-power",
            level: 48,
        ),
        (
            move: "stockpile",
            level: 60,
        ),
        (
            move: "spit-up",
            level: 60,
        ),
        (
            move: "swallow",
            level: 60,
        ),
        (
            move: "ingrain",
            level: 1,
        ),
        (
            move: "ingrain",
            level: 22,
        ),
        (
            move: "astonish",
            level: 1,
        ),
    ],
)