(
    index: 0,
    npc: (
        name: "Misty",
        position: (
            coords: (
                x: 8,
                y: 6
            ),
            direction: Down
        ),
        properties: (
            type: "misty",
            message: Some([
                (
                    color: Red,
                    lines: [
                        "Temporary post-battle message"
                    ]
                )
            ]),
        ),    
        trainer: Some((
            trainer_type: GymLeader,
            encounter_type: Some(Trainer),
            encounter_message: [
                [
                    "Temporary message"
                ],
            ],
            party: [
                (
                    id: 120,
                    data: (
                        level: 18,
                        gender: None,
                    ),                
                ),
                (
                    id: 121,
                    data: (
                        level: 21,
                        gender: None,
                    ),
                )
            ],
            disable_others: [

            ],
            worth: 1400,

        ))
    )
)