(
    id: "npc_5",
    npc: (
        character: (
            name: "NPC 30-24",
            position: (
                coords: (
                    x: 30,
                    y: 24,
                ),
                direction: Down,
            ),
            movement: Walking,
            worth: 0,
            frozen: false,
        ),
        type: "old_man_1",
        movement: Still,
        interact: Nothing,
        trainer: None,
    ),
)