(
    id: "npc_6",
    npc: (
        character: (
            name: "NPC 26-19",
            position: (
                coords: (
                    x: 26,
                    y: 19,
                ),
                direction: Down,
            ),
            movement: Walking,
            worth: 0,
            frozen: false,
        ),
        type: "old_man_2",
        movement: Still,
        interact: Nothing,
        trainer: None,
    ),
)