(
    id: 218,
    name: "Slugma",
    primary_type: Fire,
    secondary_type: None,
    base: (
        hp: 40,
        atk: 40,
        def: 40,
        sp_atk: 70,
        sp_def: 40,
        speed: 20,
    ),
    data: (
        species: "Lava",
        height: 7,
        weight: 350,
    ),
    training: (
        base_exp: 50,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "body-slam",
            level: 50,
        ),
        (
            move: "ember",
            level: 8,
        ),
        (
            move: "flamethrower",
            level: 36,
        ),
        (
            move: "rock-throw",
            level: 15,
        ),
        (
            move: "harden",
            level: 22,
        ),
        (
            move: "smog",
            level: 1,
        ),
        (
            move: "amnesia",
            level: 29,
        ),
        (
            move: "rock-slide",
            level: 43,
        ),
        (
            move: "yawn",
            level: 1,
        ),
    ],
)