(
    data: (
        id: 272,
        name: "Ludicolo",
        primary_type: Water,
        secondary_type: Some(Grass),
        species: "Carefree",
        height: 15,
        weight: 550,
    ),
    base: (
        hp: 80,
        atk: 70,
        def: 70,
        sp_atk: 90,
        sp_def: 100,
        speed: 70,
    ),
    training: (
        base_exp: 216,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "absorb",
            level: 1,
        ),
        (
            move: "nature-power",
            level: 1,
        ),
        (
            move: "astonish",
            level: 1,
        ),
    ],
)