(
    id: 277,
    name: "Swellow",
    primary_type: Normal,
    secondary_type: Some(Flying),
    base: (
        hp: 60,
        atk: 85,
        def: 60,
        sp_atk: 75,
        sp_def: 50,
        speed: 125,
    ),
    data: (
        species: "Swallow",
        height: 7,
        weight: 198,
    ),
    training: (
        base_exp: 159,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "wing-attack",
            level: 13,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "peck",
            level: 1,
        ),
        (
            move: "agility",
            level: 49,
        ),
        (
            move: "quick-attack",
            level: 1,
        ),
        (
            move: "quick-attack",
            level: 8,
        ),
        (
            move: "double-team",
            level: 19,
        ),
        (
            move: "focus-energy",
            level: 1,
        ),
        (
            move: "focus-energy",
            level: 4,
        ),
        (
            move: "endeavor",
            level: 28,
        ),
        (
            move: "aerial-ace",
            level: 38,
        ),
    ],
)