(
    data: (
        id: 107,
        name: "Hitmonchan",
        primary_type: Fighting,
        secondary_type: None,
        species: "Punching",
        height: 14,
        weight: 502,
    ),
    base: (
        hp: 50,
        atk: 105,
        def: 79,
        sp_atk: 35,
        sp_def: 110,
        speed: 76,
    ),
    training: (
        base_exp: 159,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(0),
    ),
    moves: [
        (
            move: "comet-punch",
            level: 1,
        ),
        (
            move: "mega-punch",
            level: 38,
        ),
        (
            move: "fire-punch",
            level: 26,
        ),
        (
            move: "ice-punch",
            level: 26,
        ),
        (
            move: "thunder-punch",
            level: 26,
        ),
        (
            move: "counter",
            level: 50,
        ),
        (
            move: "agility",
            level: 7,
        ),
        (
            move: "mach-punch",
            level: 20,
        ),
        (
            move: "detect",
            level: 44,
        ),
        (
            move: "pursuit",
            level: 13,
        ),
        (
            move: "revenge",
            level: 1,
        ),
        (
            move: "sky-uppercut",
            level: 32,
        ),
    ],
)