(
    identifier: (
        name: "Mom",
        npc_type: "mom"
    ),
    position: (
        coords: (
            x: 8,
            y: 4
        ),
        direction: Left
    ),
    message_set: (
        messages: [
            (
            message: ["Temporary message"]
            )
        ]
    )
)