(
    data: (
        id: 149,
        name: "Dragonite",
        primary_type: Dragon,
        secondary_type: Some(Flying),
        species: "Dragon",
        height: 22,
        weight: 2100,
    ),
    base: (
        hp: 91,
        atk: 134,
        def: 95,
        sp_atk: 100,
        sp_def: 100,
        speed: 80,
    ),
    training: (
        base_exp: 270,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "wing-attack",
            level: 55,
        ),
        (
            move: "slam",
            level: 29,
        ),
        (
            move: "wrap",
            level: 1,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "hyper-beam",
            level: 75,
        ),
        (
            move: "dragon-rage",
            level: 22,
        ),
        (
            move: "thunder-wave",
            level: 1,
        ),
        (
            move: "thunder-wave",
            level: 8,
        ),
        (
            move: "agility",
            level: 38,
        ),
        (
            move: "outrage",
            level: 61,
        ),
        (
            move: "safeguard",
            level: 47,
        ),
        (
            move: "twister",
            level: 1,
        ),
        (
            move: "twister",
            level: 15,
        ),
    ],
)