(
    index: 0,
    npc: (
        name: "Joy",
        position: (
            coords: (
                x: 7,
                y: 2,
            ),
            direction: Down
        ),
        properties: (    
            type: "nurse",
        ),
    ),
)