(
    identifier: "pallet",
    name: "Pallet Town",
    file: "3.0_PALLET TOWN.map",

    chunk: {
        Up: ("route_1", 0),
        Down: ("route_21_north", 0),
    },

    settings: (
        fly_position: Some((x: 6, y: 8))
        // map_icon: Some(City(2, 8))
    )
)