(
    identifier: "pallet",
    name: "Pallet Town",
    file: "3.0_PALLET TOWN.map",

    chunk: Some((
        coords: (
            x: 60,
            y: 260,
        ),
        connections: [
            "route_1",
            "route_21_north"
        ],
        // map_icon: Some(City(2, 8))
    )),

    settings: (
        fly_position: Some((x: 6, y: 8))
    )
)