(
    data: (
        id: 176,
        name: "Togetic",
        primary_type: Fairy,
        secondary_type: Some(Flying),
        species: "Happiness",
        height: 6,
        weight: 32,
    ),
    base: (
        hp: 55,
        atk: 40,
        def: 85,
        sp_atk: 80,
        sp_def: 105,
        speed: 40,
    ),
    training: (
        base_exp: 142,
        growth_rate: Fast,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "double-edge",
            level: 37,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "metronome",
            level: 1,
        ),
        (
            move: "metronome",
            level: 4,
        ),
        (
            move: "sweet-kiss",
            level: 1,
        ),
        (
            move: "sweet-kiss",
            level: 9,
        ),
        (
            move: "charm",
            level: 1,
        ),
        (
            move: "safeguard",
            level: 33,
        ),
        (
            move: "baton-pass",
            level: 41,
        ),
        (
            move: "encore",
            level: 17,
        ),
        (
            move: "ancient-power",
            level: 21,
        ),
        (
            move: "follow-me",
            level: 25,
        ),
        (
            move: "wish",
            level: 29,
        ),
        (
            move: "yawn",
            level: 13,
        ),
        (
            move: "magical-leaf",
            level: 1,
        ),
    ],
)