(
    id: 37,
    name: "Vulpix",
    primary_type: Fire,
    secondary_type: None,
    base: (
        hp: 38,
        atk: 41,
        def: 40,
        sp_atk: 50,
        sp_def: 65,
        speed: 65,
    ),
    data: (
        species: "Fox",
        height: 6,
        weight: 99,
    ),
    training: (
        base_exp: 60,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(6),
    ),
    moves: [
        (
            move: "tail-whip",
            level: 5,
        ),
        (
            move: "roar",
            level: 9,
        ),
        (
            move: "ember",
            level: 1,
        ),
        (
            move: "flamethrower",
            level: 29,
        ),
        (
            move: "fire-spin",
            level: 41,
        ),
        (
            move: "quick-attack",
            level: 13,
        ),
        (
            move: "confuse-ray",
            level: 21,
        ),
        (
            move: "safeguard",
            level: 33,
        ),
        (
            move: "will-o-wisp",
            level: 17,
        ),
        (
            move: "imprison",
            level: 25,
        ),
        (
            move: "grudge",
            level: 37,
        ),
    ],
)