(
    id: 256,
    name: "Combusken",
    primary_type: Fire,
    secondary_type: Some(Fighting),
    base: (
        hp: 60,
        atk: 85,
        def: 60,
        sp_atk: 85,
        sp_def: 60,
        speed: 55,
    ),
    data: (
        species: "Young",
        height: 9,
        weight: 195,
    ),
    training: (
        base_exp: 142,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "double-kick",
            level: 16,
        ),
        (
            move: "sand-attack",
            level: 21,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "ember",
            level: 1,
        ),
        (
            move: "ember",
            level: 13,
        ),
        (
            move: "peck",
            level: 17,
        ),
        (
            move: "quick-attack",
            level: 32,
        ),
        (
            move: "focus-energy",
            level: 1,
        ),
        (
            move: "focus-energy",
            level: 7,
        ),
        (
            move: "mirror-move",
            level: 43,
        ),
        (
            move: "slash",
            level: 39,
        ),
        (
            move: "sky-uppercut",
            level: 50,
        ),
        (
            move: "bulk-up",
            level: 28,
        ),
    ],
)