(
    id: 275,
    name: "Shiftry",
    primary_type: Grass,
    secondary_type: Some(Dark),
    base: (
        hp: 90,
        atk: 100,
        def: 60,
        sp_atk: 90,
        sp_def: 60,
        speed: 80,
    ),
    data: (
        species: "Wicked",
        height: 13,
        weight: 596,
    ),
    training: (
        base_exp: 216,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "pound",
            level: 1,
        ),
        (
            move: "growth",
            level: 1,
        ),
        (
            move: "harden",
            level: 1,
        ),
        (
            move: "nature-power",
            level: 1,
        ),
    ],
)