(
    id: 135,
    name: "Jolteon",
    primary_type: Electric,
    secondary_type: None,
    base: (
        hp: 65,
        atk: 65,
        def: 60,
        sp_atk: 110,
        sp_def: 95,
        speed: 130,
    ),
    data: (
        species: "Lightning",
        height: 8,
        weight: 245,
    ),
    training: (
        base_exp: 184,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "double-kick",
            level: 30,
        ),
        (
            move: "sand-attack",
            level: 8,
        ),
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "tail-whip",
            level: 1,
        ),
        (
            move: "pin-missile",
            level: 36,
        ),
        (
            move: "thunder-shock",
            level: 16,
        ),
        (
            move: "thunder-wave",
            level: 42,
        ),
        (
            move: "thunder",
            level: 52,
        ),
        (
            move: "agility",
            level: 47,
        ),
        (
            move: "quick-attack",
            level: 23,
        ),
        (
            move: "helping-hand",
            level: 1,
        ),
    ],
)