(
    identifier: "viridian_heal",
    location: Some((
        min: (
            x: 7,
            y: 4
        ),
        max: (
            x: 7,
            y: 4
        )
    )),
    conditions: [
        Activate(Up),
    ],
    actions: [
        PlayerFreezeInput,
        Conditional(
            message: (
                color: Red,
                pages: [
                    (
                        lines: ["Welcome to our POKEMON CENTER!"],
                    ),
                    (
                        lines: [
                            "Would you like me to heal your",
                            "POKEMON back to perfect health?"
                        ],
                        wait: Some(0.0),
                    )
                ],
            ),
            end_message: Some((
                color: Red,
                pages: [(
                    lines: ["We hope to see you again!"],
                )],
            )),
            unfreeze: true,
        ),
        NPCSay(
            "nurse",
            [(
                lines: [
                    "Okay, I'll take your POKEMON for a",
                    "few seconds."
                ],
                wait: Some(2.0),
            )]
        ),
        PlayerHealPokemon,
        Info("Healed player pokemon"),
        NPCSay(
            "nurse",
            [
                (
                    lines: [
                        "Thank you for waiting. We've restored", // change to text scrolling (3 lines)
                        "your POKEMON to full health.",
                    ],
                ),
                (
                    lines: [
                        "We hope to see you again!",
                    ],
                )
            ]
        ),
        PlayerUnfreezeInput,
    ]
)