(
    id: 262,
    name: "Mightyena",
    primary_type: Dark,
    secondary_type: None,
    base: (
        hp: 70,
        atk: 90,
        def: 70,
        sp_atk: 60,
        sp_def: 60,
        speed: 70,
    ),
    data: (
        species: "Bite",
        height: 10,
        weight: 370,
    ),
    training: (
        base_exp: 147,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "sand-attack",
            level: 1,
        ),
        (
            move: "sand-attack",
            level: 9,
        ),
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "take-down",
            level: 37,
        ),
        (
            move: "bite",
            level: 1,
        ),
        (
            move: "bite",
            level: 13,
        ),
        (
            move: "roar",
            level: 22,
        ),
        (
            move: "thief",
            level: 52,
        ),
        (
            move: "scary-face",
            level: 32,
        ),
        (
            move: "swagger",
            level: 27,
        ),
        (
            move: "crunch",
            level: 47,
        ),
        (
            move: "taunt",
            level: 42,
        ),
        (
            move: "odor-sleuth",
            level: 17,
        ),
        (
            move: "howl",
            level: 1,
        ),
        (
            move: "howl",
            level: 5,
        ),
    ],
)