(
    move: (
        id: "surf",
        name: "Surf",
        type: Water,
        category: Special,
        power: Some(90),
        accuracy: Some(100),
        pp: 15,
    ),
    game_move: Some((
        field_id: Some("surf"),
    )),

    // battle_script: Some((
    //     actions: [
    //         SpawnTexture,
    //         // MoveTexture(30.0, 5.0, 1.0),
    //         Wait(0.5),
    //         DespawnTexture,
    //     ],
    // )),

    // texture: Some("surf.png"),

)