(
    id: 357,
    name: "Tropius",
    primary_type: Grass,
    secondary_type: Some(Flying),
    base: (
        hp: 99,
        atk: 68,
        def: 83,
        sp_atk: 72,
        sp_def: 87,
        speed: 51,
    ),
    data: (
        species: "Fruit",
        height: 20,
        weight: 1000,
    ),
    training: (
        base_exp: 161,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "gust",
            level: 1,
        ),
        (
            move: "whirlwind",
            level: 27,
        ),
        (
            move: "stomp",
            level: 17,
        ),
        (
            move: "body-slam",
            level: 37,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "growth",
            level: 7,
        ),
        (
            move: "razor-leaf",
            level: 11,
        ),
        (
            move: "solar-beam",
            level: 41,
        ),
        (
            move: "sweet-scent",
            level: 21,
        ),
        (
            move: "synthesis",
            level: 47,
        ),
        (
            move: "magical-leaf",
            level: 31,
        ),
    ],
)