(
    data: (
        id: 359,
        name: "Absol",
        primary_type: Dark,
        secondary_type: None,
        species: "Disaster",
        height: 12,
        weight: 470,
    ),
    base: (
        hp: 65,
        atk: 130,
        def: 60,
        sp_atk: 75,
        sp_def: 60,
        speed: 75,
    ),
    training: (
        base_exp: 163,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "razor-wind",
            level: 17,
        ),
        (
            move: "swords-dance",
            level: 26,
        ),
        (
            move: "leer",
            level: 5,
        ),
        (
            move: "bite",
            level: 21,
        ),
        (
            move: "quick-attack",
            level: 13,
        ),
        (
            move: "double-team",
            level: 31,
        ),
        (
            move: "slash",
            level: 36,
        ),
        (
            move: "perish-song",
            level: 46,
        ),
        (
            move: "future-sight",
            level: 41,
        ),
        (
            move: "taunt",
            level: 9,
        ),
    ],
)