(
    id: 84,
    name: "Doduo",
    primary_type: Normal,
    secondary_type: Some(Flying),
    base: (
        hp: 35,
        atk: 85,
        def: 45,
        sp_atk: 35,
        sp_def: 35,
        speed: 75,
    ),
    data: (
        species: "Twin",
        height: 14,
        weight: 392,
    ),
    training: (
        base_exp: 62,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "fury-attack",
            level: 13,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "peck",
            level: 1,
        ),
        (
            move: "drill-peck",
            level: 37,
        ),
        (
            move: "agility",
            level: 45,
        ),
        (
            move: "rage",
            level: 25,
        ),
        (
            move: "tri-attack",
            level: 21,
        ),
        (
            move: "pursuit",
            level: 9,
        ),
        (
            move: "uproar",
            level: 33,
        ),
    ],
)