(
    data: (
        id: 351,
        name: "Castform",
        primary_type: Normal,
        secondary_type: None,
        species: "Weather",
        height: 3,
        weight: 8,
    ),
    base: (
        hp: 70,
        atk: 70,
        def: 70,
        sp_atk: 70,
        sp_def: 70,
        speed: 70,
    ),
    training: (
        base_exp: 147,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "ember",
            level: 10,
        ),
        (
            move: "water-gun",
            level: 10,
        ),
        (
            move: "powder-snow",
            level: 10,
        ),
        (
            move: "rain-dance",
            level: 20,
        ),
        (
            move: "sunny-day",
            level: 20,
        ),
        (
            move: "hail",
            level: 20,
        ),
        (
            move: "weather-ball",
            level: 30,
        ),
    ],
)