(
    data: (
        id: 145,
        name: "Zapdos",
        primary_type: Electric,
        secondary_type: Some(Flying),
        species: "Electric",
        height: 16,
        weight: 526,
    ),
    base: (
        hp: 90,
        atk: 90,
        def: 85,
        sp_atk: 125,
        sp_def: 90,
        speed: 100,
    ),
    training: (
        base_exp: 261,
        growth_rate: Slow,
    ),
    breeding: (
        gender: None,
    ),
    moves: [
        (
            move: "peck",
            level: 1,
        ),
        (
            move: "drill-peck",
            level: 49,
        ),
        (
            move: "thunder-shock",
            level: 1,
        ),
        (
            move: "thunder-wave",
            level: 13,
        ),
        (
            move: "thunder",
            level: 85,
        ),
        (
            move: "agility",
            level: 25,
        ),
        (
            move: "light-screen",
            level: 73,
        ),
        (
            move: "detect",
            level: 37,
        ),
        (
            move: "charge",
            level: 61,
        ),
    ],
)