(
    data: (
        id: 79,
        name: "Slowpoke",
        primary_type: Water,
        secondary_type: Some(Psychic),
        species: "Dopey",
        height: 12,
        weight: 360,
    ),
    base: (
        hp: 90,
        atk: 65,
        def: 65,
        sp_atk: 40,
        sp_def: 40,
        speed: 15,
    ),
    training: (
        base_exp: 63,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "headbutt",
            level: 29,
        ),
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "growl",
            level: 6,
        ),
        (
            move: "disable",
            level: 24,
        ),
        (
            move: "water-gun",
            level: 13,
        ),
        (
            move: "confusion",
            level: 17,
        ),
        (
            move: "psychic",
            level: 40,
        ),
        (
            move: "amnesia",
            level: 36,
        ),
        (
            move: "curse",
            level: 1,
        ),
        (
            move: "psych-up",
            level: 47,
        ),
        (
            move: "yawn",
            level: 1,
        ),
    ],
)