(
    config: (
        identifier: "lavender",
        name: "Lavender Town",
        file: "3.4_LAVENDER TOWN.map",
    ),
    coords: (
        x: 384,
        y: 130,
    ),
    connections: [
        "route_8",
        "route_10",
        "route_12",
    ],
)