(
    id: 153,
    name: "Bayleef",
    primary_type: Grass,
    secondary_type: None,
    base: (
        hp: 60,
        atk: 62,
        def: 80,
        sp_atk: 63,
        sp_def: 80,
        speed: 60,
    ),
    data: (
        species: "Leaf",
        height: 12,
        weight: 158,
    ),
    training: (
        base_exp: 142,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "body-slam",
            level: 31,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "razor-leaf",
            level: 1,
        ),
        (
            move: "razor-leaf",
            level: 8,
        ),
        (
            move: "solar-beam",
            level: 55,
        ),
        (
            move: "poison-powder",
            level: 15,
        ),
        (
            move: "light-screen",
            level: 39,
        ),
        (
            move: "reflect",
            level: 1,
        ),
        (
            move: "reflect",
            level: 12,
        ),
        (
            move: "safeguard",
            level: 47,
        ),
        (
            move: "synthesis",
            level: 23,
        ),
    ],
)