(
    data: (
        id: 363,
        name: "Spheal",
        primary_type: Ice,
        secondary_type: Some(Water),
        species: "Clap",
        height: 8,
        weight: 395,
    ),
    base: (
        hp: 70,
        atk: 40,
        def: 50,
        sp_atk: 55,
        sp_def: 50,
        speed: 25,
    ),
    training: (
        base_exp: 58,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "body-slam",
            level: 19,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "water-gun",
            level: 1,
        ),
        (
            move: "blizzard",
            level: 43,
        ),
        (
            move: "aurora-beam",
            level: 25,
        ),
        (
            move: "defense-curl",
            level: 1,
        ),
        (
            move: "rest",
            level: 37,
        ),
        (
            move: "snore",
            level: 37,
        ),
        (
            move: "powder-snow",
            level: 1,
        ),
        (
            move: "encore",
            level: 7,
        ),
        (
            move: "hail",
            level: 31,
        ),
        (
            move: "ice-ball",
            level: 13,
        ),
        (
            move: "sheer-cold",
            level: 49,
        ),
    ],
)