(
    id: 260,
    name: "Swampert",
    primary_type: Water,
    secondary_type: Some(Ground),
    base: (
        hp: 100,
        atk: 110,
        def: 90,
        sp_atk: 85,
        sp_def: 90,
        speed: 60,
    ),
    data: (
        species: "Mud",
        height: 15,
        weight: 819,
    ),
    training: (
        base_exp: 241,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "take-down",
            level: 31,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "water-gun",
            level: 1,
        ),
        (
            move: "water-gun",
            level: 10,
        ),
        (
            move: "earthquake",
            level: 52,
        ),
        (
            move: "bide",
            level: 15,
        ),
        (
            move: "protect",
            level: 46,
        ),
        (
            move: "mud-slap",
            level: 1,
        ),
        (
            move: "mud-slap",
            level: 6,
        ),
        (
            move: "foresight",
            level: 20,
        ),
        (
            move: "endeavor",
            level: 61,
        ),
        (
            move: "mud-sport",
            level: 25,
        ),
        (
            move: "muddy-water",
            level: 39,
        ),
        (
            move: "mud-shot",
            level: 16,
        ),
    ],
)