(
    location: (
        min: (
            x: 15,
            y: 7,
        ),
        max: (
            x: 15,
            y: 7,
        )
    ),
    destination: (
        map: Some("pallet_houses"),
        index: "rival_house",
        position: (
            coords: (
                x: 4,
                y: 8,
            ),
            direction: Some(Up),
        )
    )
)