(
    data: (
        id: 278,
        name: "Wingull",
        primary_type: Water,
        secondary_type: Some(Flying),
        species: "Seagull",
        height: 6,
        weight: 95,
    ),
    base: (
        hp: 40,
        atk: 30,
        def: 30,
        sp_atk: 55,
        sp_def: 30,
        speed: 85,
    ),
    training: (
        base_exp: 54,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "wing-attack",
            level: 13,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "supersonic",
            level: 7,
        ),
        (
            move: "mist",
            level: 21,
        ),
        (
            move: "water-gun",
            level: 1,
        ),
        (
            move: "agility",
            level: 55,
        ),
        (
            move: "quick-attack",
            level: 31,
        ),
        (
            move: "pursuit",
            level: 43,
        ),
    ],
)