(
    location: (
        min: (
            x: 0x1F,
            y: 0x15,
        ),
        max: (
            x: 0x1F,
            y: 0x15,
        ),
    ),
    destination: (
        location: (
            map: Some("gyms"),
            index: "cerulean",
        ),
        position: (
            coords: (
                x: 8,
                y: 0x12,
            ),
            direction: Some(Up),
        ),
        transition: (
            move_on_exit: false,
            warp_on_tile: true,
        ),
    ),
)