(
    id: 126,
    name: "Magmar",
    primary_type: Fire,
    secondary_type: None,
    base: (
        hp: 65,
        atk: 95,
        def: 57,
        sp_atk: 100,
        sp_def: 85,
        speed: 93,
    ),
    data: (
        species: "Spitfire",
        height: 13,
        weight: 445,
    ),
    training: (
        base_exp: 173,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(2),
    ),
    moves: [
        (
            move: "fire-punch",
            level: 1,
        ),
        (
            move: "fire-punch",
            level: 19,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "leer",
            level: 7,
        ),
        (
            move: "ember",
            level: 1,
        ),
        (
            move: "flamethrower",
            level: 41,
        ),
        (
            move: "smokescreen",
            level: 25,
        ),
        (
            move: "confuse-ray",
            level: 49,
        ),
        (
            move: "smog",
            level: 1,
        ),
        (
            move: "smog",
            level: 13,
        ),
        (
            move: "fire-blast",
            level: 57,
        ),
        (
            move: "sunny-day",
            level: 33,
        ),
    ],
)