(
    id: 122,
    name: "Mr-mime",
    primary_type: Psychic,
    secondary_type: Some(Fairy),
    base: (
        hp: 40,
        atk: 45,
        def: 65,
        sp_atk: 100,
        sp_def: 120,
        speed: 90,
    ),
    data: (
        species: "Barrier",
        height: 13,
        weight: 545,
    ),
    training: (
        base_exp: 161,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "double-slap",
            level: 15,
        ),
        (
            move: "psybeam",
            level: 29,
        ),
        (
            move: "confusion",
            level: 5,
        ),
        (
            move: "psychic",
            level: 43,
        ),
        (
            move: "meditate",
            level: 12,
        ),
        (
            move: "barrier",
            level: 1,
        ),
        (
            move: "light-screen",
            level: 19,
        ),
        (
            move: "reflect",
            level: 19,
        ),
        (
            move: "substitute",
            level: 8,
        ),
        (
            move: "safeguard",
            level: 50,
        ),
        (
            move: "baton-pass",
            level: 47,
        ),
        (
            move: "encore",
            level: 26,
        ),
        (
            move: "trick",
            level: 36,
        ),
        (
            move: "role-play",
            level: 40,
        ),
        (
            move: "recycle",
            level: 33,
        ),
        (
            move: "magical-leaf",
            level: 22,
        ),
    ],
)