(
    id: 211,
    name: "Qwilfish",
    primary_type: Water,
    secondary_type: Some(Poison),
    base: (
        hp: 65,
        atk: 95,
        def: 85,
        sp_atk: 55,
        sp_def: 55,
        speed: 85,
    ),
    data: (
        species: "Balloon",
        height: 5,
        weight: 39,
    ),
    training: (
        base_exp: 88,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "take-down",
            level: 33,
        ),
        (
            move: "poison-sting",
            level: 1,
        ),
        (
            move: "pin-missile",
            level: 21,
        ),
        (
            move: "water-gun",
            level: 13,
        ),
        (
            move: "hydro-pump",
            level: 37,
        ),
        (
            move: "harden",
            level: 9,
        ),
        (
            move: "minimize",
            level: 9,
        ),
        (
            move: "spikes",
            level: 1,
        ),
        (
            move: "destiny-bond",
            level: 45,
        ),
        (
            move: "revenge",
            level: 25,
        ),
    ],
)