(
    id: 190,
    name: "Aipom",
    primary_type: Normal,
    secondary_type: None,
    base: (
        hp: 55,
        atk: 70,
        def: 55,
        sp_atk: 40,
        sp_def: 55,
        speed: 85,
    ),
    data: (
        species: "Long",
        height: 8,
        weight: 115,
    ),
    training: (
        base_exp: 72,
        growth_rate: Fast,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "sand-attack",
            level: 6,
        ),
        (
            move: "tail-whip",
            level: 1,
        ),
        (
            move: "agility",
            level: 50,
        ),
        (
            move: "screech",
            level: 43,
        ),
        (
            move: "swift",
            level: 38,
        ),
        (
            move: "fury-swipes",
            level: 31,
        ),
        (
            move: "baton-pass",
            level: 18,
        ),
        (
            move: "astonish",
            level: 13,
        ),
        (
            move: "tickle",
            level: 25,
        ),
    ],
)