(
    id: 54,
    name: "Psyduck",
    primary_type: Water,
    secondary_type: None,
    base: (
        hp: 50,
        atk: 52,
        def: 48,
        sp_atk: 65,
        sp_def: 50,
        speed: 55,
    ),
    data: (
        species: "Duck",
        height: 8,
        weight: 196,
    ),
    training: (
        base_exp: 64,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "tail-whip",
            level: 5,
        ),
        (
            move: "disable",
            level: 10,
        ),
        (
            move: "hydro-pump",
            level: 50,
        ),
        (
            move: "confusion",
            level: 16,
        ),
        (
            move: "screech",
            level: 23,
        ),
        (
            move: "fury-swipes",
            level: 40,
        ),
        (
            move: "psych-up",
            level: 31,
        ),
        (
            move: "water-sport",
            level: 1,
        ),
    ],
)