(
    data: (
        id: 94,
        name: "Gengar",
        primary_type: Ghost,
        secondary_type: Some(Poison),
        species: "Shadow",
        height: 15,
        weight: 405,
    ),
    base: (
        hp: 60,
        atk: 65,
        def: 60,
        sp_atk: 130,
        sp_def: 75,
        speed: 110,
    ),
    training: (
        base_exp: 225,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "hypnosis",
            level: 1,
        ),
        (
            move: "night-shade",
            level: 16,
        ),
        (
            move: "confuse-ray",
            level: 21,
        ),
        (
            move: "lick",
            level: 1,
        ),
        (
            move: "dream-eater",
            level: 31,
        ),
        (
            move: "nightmare",
            level: 53,
        ),
        (
            move: "curse",
            level: 13,
        ),
        (
            move: "spite",
            level: 1,
        ),
        (
            move: "spite",
            level: 8,
        ),
        (
            move: "destiny-bond",
            level: 39,
        ),
        (
            move: "mean-look",
            level: 64,
        ),
        (
            move: "shadow-ball",
            level: 45,
        ),
        (
            move: "shadow-punch",
            level: 25,
        ),
    ],
)