(
    identifier: "oak_catch",
    conditions: [
        NoRepeat,
        Location((
            min: (
                x: 12,
                y: 1
            ),
            max: (
                x: 13,
                y: 1
            )
        ))
    ],
    actions: [
        PlayerFreezeInput,
        NpcAdd(
            "oak",
            (
                character: (
                    name: "Oak",
                    position: (
                        coords: (
                            x: 10,
                            y: 7
                        ),
                        direction: Up
                    ),
                ),
                type: "prof_oak",
            )
        ),
        PlayMusic("oak"),
        NpcSay(
            "oak",
            [
                [
                    "OAK: Hey! Wait!",
                    "Don't go out!"
                ],
            ]
        ),
        NpcMove("oak", 10, 6),
        NpcMove("oak", 11, 6),
        NpcMove("oak", 11, 4),
        NpcMove("oak", 12, 4),
        NpcMoveToPlayer("oak"),
        NpcSay(
            "oak",
            [
                [
                    "OAK: It's unsafe!",
                    "Wild POKEMON live in tall grass!"
                ],
                [
                    "You need your own POKEMON for",
                    "your protection."
                ],
                [
                    "I know!",
                    "Here, come with me!"
                ],
            ]
        ),
        NpcLeadPlayer("oak", 12, 3),
        NpcLeadPlayer("oak", 11, 3),
        NpcLeadPlayer("oak", 11, 14),
        NpcLeadPlayer("oak", 16, 14),
        NpcLook("oak", Up),
        Wait(0.125),
        NpcWarp("oak", Dest(
            (
                map: Some("pallet_houses"),
                index: "oaks_lab"
            ),
            (
                coords: (
                    x: 6,
                    y: 11,
                ),
                direction: Up,
            )
        )),
        Wait(0.125),
        PlayerMove(16, 13),
        WaitFinishWarp,
        Wait(0.5),
        NpcMove("oak", 6, 6),
        NpcRemove("oak"),
        NpcAdd(
            "rival",
            (
                character: (
                    name: "%r",
                    position: (
                        coords: (
                            x: 5,
                            y: 4,
                        ),
                        direction: Down,
                    ),
                ),
                type: "rival",
                trainer: Some(
                    (
                        battle_on_interact: false,
                        encounter_message: [],
                        party: [
                            (
                                pokemon: 7,
                                level: 5,
                                gender: Some(Male),
                            ),
                        ],
                        worth: 80,
                        disable: None,
                    )
                ),
            )
        ),
        PlayerMove(6, 4),
        NpcSay(
            "oak",
            [
                [
                    "Here's some pokemon"
                ]                
            ],
        ),
        PlayerGivePokemon(
            (
                pokemon: 1,
                level: 5,
                gender: Some(Male),
            )
        ),
        PlayerGivePokemon(
            (
                pokemon: 4,
                level: 5,
                gender: Some(Male),
            )
        ),
        PlayerGivePokemon(
            (
                pokemon: 7,
                level: 5,
                gender: Some(Female),
            )
        ),
        PlayMapMusic,
        PlayerUnfreezeInput,
    ]
)