(
    data: (
        id: 161,
        name: "Sentret",
        primary_type: Normal,
        secondary_type: None,
        species: "Scout",
        height: 8,
        weight: 60,
    ),
    base: (
        hp: 35,
        atk: 46,
        def: 34,
        sp_atk: 35,
        sp_def: 45,
        speed: 20,
    ),
    training: (
        base_exp: 43,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "slam",
            level: 24,
        ),
        (
            move: "quick-attack",
            level: 7,
        ),
        (
            move: "defense-curl",
            level: 4,
        ),
        (
            move: "amnesia",
            level: 49,
        ),
        (
            move: "fury-swipes",
            level: 12,
        ),
        (
            move: "rest",
            level: 40,
        ),
        (
            move: "follow-me",
            level: 31,
        ),
        (
            move: "helping-hand",
            level: 17,
        ),
    ],
)