(
    chunk: Some((
        config: (
            name: "Pallet Town",
            file: "3.0_PALLET TOWN.map",
        ),
        piece_index: 0,
        coords: (
            x: 60,
            y: 260,
        ),
        connections: [19, 39],
    ))
)