(
    data: (
        id: 159,
        name: "Croconaw",
        primary_type: Water,
        secondary_type: None,
        species: "Big",
        height: 11,
        weight: 250,
    ),
    base: (
        hp: 65,
        atk: 80,
        def: 80,
        sp_atk: 59,
        sp_def: 63,
        speed: 58,
    ),
    training: (
        base_exp: 142,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "bite",
            level: 21,
        ),
        (
            move: "water-gun",
            level: 13,
        ),
        (
            move: "hydro-pump",
            level: 55,
        ),
        (
            move: "rage",
            level: 1,
        ),
        (
            move: "rage",
            level: 7,
        ),
        (
            move: "screech",
            level: 45,
        ),
        (
            move: "slash",
            level: 37,
        ),
        (
            move: "scary-face",
            level: 28,
        ),
    ],
)