(
    data: (
        id: 151,
        name: "Mew",
        primary_type: Psychic,
        secondary_type: None,
        species: "New",
        height: 4,
        weight: 40,
    ),
    base: (
        hp: 100,
        atk: 100,
        def: 100,
        sp_atk: 100,
        sp_def: 100,
        speed: 100,
    ),
    training: (
        base_exp: 270,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: None,
    ),
    moves: [
        (
            move: "pound",
            level: 1,
        ),
        (
            move: "mega-punch",
            level: 20,
        ),
        (
            move: "psychic",
            level: 40,
        ),
        (
            move: "metronome",
            level: 30,
        ),
        (
            move: "transform",
            level: 10,
        ),
        (
            move: "ancient-power",
            level: 50,
        ),
    ],
)