(
    id: 12,
    name: "Butterfree",
    primary_type: Bug,
    secondary_type: Some(Flying),
    base: (
        hp: 60,
        atk: 45,
        def: 50,
        sp_atk: 90,
        sp_def: 80,
        speed: 70,
    ),
    data: (
        species: "Butterfly",
        height: 11,
        weight: 320,
    ),
    training: (
        base_exp: 178,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "gust",
            level: 28,
        ),
        (
            move: "whirlwind",
            level: 23,
        ),
        (
            move: "supersonic",
            level: 18,
        ),
        (
            move: "psybeam",
            level: 34,
        ),
        (
            move: "poison-powder",
            level: 13,
        ),
        (
            move: "stun-spore",
            level: 14,
        ),
        (
            move: "sleep-powder",
            level: 15,
        ),
        (
            move: "confusion",
            level: 1,
        ),
        (
            move: "confusion",
            level: 10,
        ),
        (
            move: "safeguard",
            level: 40,
        ),
        (
            move: "silver-wind",
            level: 47,
        ),
    ],
)