(
    data: (
        id: 378,
        name: "Regice",
        primary_type: Ice,
        secondary_type: None,
        species: "Iceberg",
        height: 18,
        weight: 1750,
    ),
    base: (
        hp: 80,
        atk: 50,
        def: 100,
        sp_atk: 100,
        sp_def: 200,
        speed: 50,
    ),
    training: (
        base_exp: 261,
        growth_rate: Slow,
    ),
    breeding: (
        gender: None,
    ),
    moves: [
        (
            move: "hyper-beam",
            level: 65,
        ),
        (
            move: "amnesia",
            level: 41,
        ),
        (
            move: "explosion",
            level: 1,
        ),
        (
            move: "curse",
            level: 17,
        ),
        (
            move: "zap-cannon",
            level: 49,
        ),
        (
            move: "icy-wind",
            level: 9,
        ),
        (
            move: "lock-on",
            level: 57,
        ),
        (
            move: "ancient-power",
            level: 33,
        ),
        (
            move: "superpower",
            level: 25,
        ),
    ],
)