(
    data: (
        id: 125,
        name: "Electabuzz",
        primary_type: Electric,
        secondary_type: None,
        species: "Electric",
        height: 11,
        weight: 300,
    ),
    base: (
        hp: 65,
        atk: 83,
        def: 57,
        sp_atk: 95,
        sp_def: 85,
        speed: 105,
    ),
    training: (
        base_exp: 172,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(2),
    ),
    moves: [
        (
            move: "thunder-punch",
            level: 1,
        ),
        (
            move: "thunder-punch",
            level: 9,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "thunderbolt",
            level: 47,
        ),
        (
            move: "thunder",
            level: 58,
        ),
        (
            move: "quick-attack",
            level: 1,
        ),
        (
            move: "screech",
            level: 36,
        ),
        (
            move: "light-screen",
            level: 17,
        ),
        (
            move: "swift",
            level: 25,
        ),
    ],
)