(
    data: (
        id: 109,
        name: "Koffing",
        primary_type: Poison,
        secondary_type: None,
        species: "Poison",
        height: 6,
        weight: 10,
    ),
    base: (
        hp: 40,
        atk: 65,
        def: 95,
        sp_atk: 60,
        sp_def: 45,
        speed: 35,
    ),
    training: (
        base_exp: 68,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "smokescreen",
            level: 25,
        ),
        (
            move: "haze",
            level: 33,
        ),
        (
            move: "self-destruct",
            level: 17,
        ),
        (
            move: "smog",
            level: 9,
        ),
        (
            move: "sludge",
            level: 21,
        ),
        (
            move: "poison-gas",
            level: 1,
        ),
        (
            move: "explosion",
            level: 41,
        ),
        (
            move: "destiny-bond",
            level: 45,
        ),
        (
            move: "memento",
            level: 49,
        ),
    ],
)