(
    config: (
        identifier: "pewter",
        name: "Pewter City",
        file: "3.2_PEWTER CITY.map",
    ),
    coords: (
        x: 48,
        y: 60,
    ),
    connections: [
        "route_2",
        "route_3",
    ],
)