(
    data: (
        id: 52,
        name: "Meowth",
        primary_type: Normal,
        secondary_type: None,
        species: "Scratch",
        height: 4,
        weight: 42,
    ),
    base: (
        hp: 40,
        atk: 45,
        def: 35,
        sp_atk: 40,
        sp_def: 40,
        speed: 90,
    ),
    training: (
        base_exp: 58,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "pay-day",
            level: 18,
        ),
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "bite",
            level: 10,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "screech",
            level: 31,
        ),
        (
            move: "fury-swipes",
            level: 36,
        ),
        (
            move: "slash",
            level: 40,
        ),
        (
            move: "feint-attack",
            level: 25,
        ),
        (
            move: "swagger",
            level: 45,
        ),
        (
            move: "fake-out",
            level: 43,
        ),
    ],
)