(
    location: (
        min: (
            x: 0x8,
            y: 0x12,
        ),
        max: (
            x: 0x8,
            y: 0x12,
        ),
    ),
    destination: (
        map_id: "world",
        map_index: 3,
        position: (
            coords: (
                x: 0x1F,
                y: 0x16,
            ),
            direction: Some(Down),
        ),
    ),
)