(
    location: (
        min: (
            x: 0x1A,
            y: 0x24,
        ),
        max: (
            x: 0x1A,
            y: 0x24,
        ),
    ),
    destination: (
        location: (
            map: Some("mt_moon"),
            index: "floor_2",
        ),
        position: (
            coords: (
                x: 0x11,
                y: 0x1F,
            ),
        ),
        transition: (
            move_on_exit: false,
            warp_on_tile: true,
        ),
    ),
)