(
    id: 59,
    name: "Arcanine",
    primary_type: Fire,
    secondary_type: None,
    base: (
        hp: 90,
        atk: 110,
        def: 80,
        sp_atk: 100,
        sp_def: 80,
        speed: 95,
    ),
    data: (
        species: "Legendary",
        height: 19,
        weight: 1550,
    ),
    training: (
        base_exp: 194,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(2),
    ),
    moves: [
        (
            move: "bite",
            level: 1,
        ),
        (
            move: "roar",
            level: 1,
        ),
        (
            move: "ember",
            level: 1,
        ),
        (
            move: "extreme-speed",
            level: 49,
        ),
        (
            move: "odor-sleuth",
            level: 1,
        ),
    ],
)