(
    data: (
        id: 377,
        name: "Regirock",
        primary_type: Rock,
        secondary_type: None,
        species: "Rock",
        height: 17,
        weight: 2300,
    ),
    base: (
        hp: 80,
        atk: 100,
        def: 200,
        sp_atk: 50,
        sp_def: 100,
        speed: 50,
    ),
    training: (
        base_exp: 261,
        growth_rate: Slow,
    ),
    breeding: (
        gender: None,
    ),
    moves: [
        (
            move: "hyper-beam",
            level: 65,
        ),
        (
            move: "rock-throw",
            level: 9,
        ),
        (
            move: "explosion",
            level: 1,
        ),
        (
            move: "curse",
            level: 17,
        ),
        (
            move: "zap-cannon",
            level: 49,
        ),
        (
            move: "lock-on",
            level: 57,
        ),
        (
            move: "ancient-power",
            level: 33,
        ),
        (
            move: "superpower",
            level: 25,
        ),
        (
            move: "iron-defense",
            level: 41,
        ),
    ],
)