(
    map_set: Some((
        identifier: "pokemon_centers",
        dirs: [
            "viridian/lower",
            "viridian/upper",
            "pewter/lower",
            "pewter/upper",
            "route_4/lower",
            "route_4/upper",
            "cerulean/lower",
            "cerulean/upper",
        ]
    ))
)