(
    map_set: Some((
        identifier: "pokemon_centers",
        dirs: [
            "viridian_lower",
            "viridian_upper",
            "pewter_lower",
            "pewter_upper",
            "route_4_lower",
            "route_4_upper",
            "cerulean_lower",
            "cerulean_upper",
        ]
    ))
)