(
    data: (
        id: 233,
        name: "Porygon2",
        primary_type: Normal,
        secondary_type: None,
        species: "Virtual",
        height: 6,
        weight: 325,
    ),
    base: (
        hp: 85,
        atk: 80,
        def: 90,
        sp_atk: 105,
        sp_def: 95,
        speed: 60,
    ),
    training: (
        base_exp: 180,
        growth_rate: Medium,
    ),
    breeding: (
        gender: None,
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "psybeam",
            level: 12,
        ),
        (
            move: "agility",
            level: 9,
        ),
        (
            move: "recover",
            level: 20,
        ),
        (
            move: "defense-curl",
            level: 24,
        ),
        (
            move: "conversion",
            level: 1,
        ),
        (
            move: "tri-attack",
            level: 36,
        ),
        (
            move: "conversion-2",
            level: 1,
        ),
        (
            move: "zap-cannon",
            level: 48,
        ),
        (
            move: "lock-on",
            level: 32,
        ),
        (
            move: "recycle",
            level: 44,
        ),
    ],
)