(
    id: 71,
    name: "Victreebel",
    primary_type: Grass,
    secondary_type: Some(Poison),
    base: (
        hp: 80,
        atk: 105,
        def: 65,
        sp_atk: 100,
        sp_def: 70,
        speed: 70,
    ),
    data: (
        species: "Flycatcher",
        height: 17,
        weight: 155,
    ),
    training: (
        base_exp: 221,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "vine-whip",
            level: 1,
        ),
        (
            move: "razor-leaf",
            level: 1,
        ),
        (
            move: "sleep-powder",
            level: 1,
        ),
        (
            move: "sweet-scent",
            level: 1,
        ),
        (
            move: "stockpile",
            level: 1,
        ),
        (
            move: "spit-up",
            level: 1,
        ),
        (
            move: "swallow",
            level: 1,
        ),
    ],
)