(
    data: (
        id: 140,
        name: "Kabuto",
        primary_type: Rock,
        secondary_type: Some(Water),
        species: "Shellfish",
        height: 5,
        weight: 115,
    ),
    base: (
        hp: 30,
        atk: 80,
        def: 90,
        sp_atk: 55,
        sp_def: 45,
        speed: 55,
    ),
    training: (
        base_exp: 71,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "sand-attack",
            level: 31,
        ),
        (
            move: "leer",
            level: 19,
        ),
        (
            move: "absorb",
            level: 13,
        ),
        (
            move: "mega-drain",
            level: 49,
        ),
        (
            move: "harden",
            level: 1,
        ),
        (
            move: "endure",
            level: 37,
        ),
        (
            move: "ancient-power",
            level: 55,
        ),
        (
            move: "metal-sound",
            level: 43,
        ),
        (
            move: "mud-shot",
            level: 25,
        ),
    ],
)