(
    id: 152,
    name: "Chikorita",
    primary_type: Grass,
    secondary_type: None,
    base: (
        hp: 45,
        atk: 49,
        def: 65,
        sp_atk: 49,
        sp_def: 65,
        speed: 45,
    ),
    data: (
        species: "Leaf",
        height: 9,
        weight: 64,
    ),
    training: (
        base_exp: 64,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "body-slam",
            level: 29,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "razor-leaf",
            level: 8,
        ),
        (
            move: "solar-beam",
            level: 50,
        ),
        (
            move: "poison-powder",
            level: 15,
        ),
        (
            move: "light-screen",
            level: 36,
        ),
        (
            move: "reflect",
            level: 12,
        ),
        (
            move: "safeguard",
            level: 43,
        ),
        (
            move: "synthesis",
            level: 22,
        ),
    ],
)