(
    config: (
        identifier: "route_21_north",
        name: "Route 21 North",
        file: "3.39_ROUTE 21.map",
    ),
    coords: (
        x: 60,
        y: 280,
    ),
    connections: [
        "pallet",
        "route_21_south",
    ],
)