(
    data: (
        id: 245,
        name: "Suicune",
        primary_type: Water,
        secondary_type: None,
        species: "Aurora",
        height: 20,
        weight: 1870,
    ),
    base: (
        hp: 100,
        atk: 75,
        def: 115,
        sp_atk: 90,
        sp_def: 115,
        speed: 85,
    ),
    training: (
        base_exp: 261,
        growth_rate: Slow,
    ),
    breeding: (
        gender: None,
    ),
    moves: [
        (
            move: "gust",
            level: 31,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "bite",
            level: 1,
        ),
        (
            move: "mist",
            level: 51,
        ),
        (
            move: "hydro-pump",
            level: 71,
        ),
        (
            move: "bubble-beam",
            level: 11,
        ),
        (
            move: "aurora-beam",
            level: 41,
        ),
        (
            move: "rain-dance",
            level: 21,
        ),
        (
            move: "mirror-coat",
            level: 61,
        ),
        (
            move: "calm-mind",
            level: 81,
        ),
    ],
)