(
    id: 321,
    name: "Wailord",
    primary_type: Water,
    secondary_type: None,
    base: (
        hp: 170,
        atk: 90,
        def: 45,
        sp_atk: 90,
        sp_def: 45,
        speed: 60,
    ),
    data: (
        species: "Float",
        height: 145,
        weight: 3980,
    ),
    training: (
        base_exp: 175,
        growth_rate: FastThenVerySlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "growl",
            level: 5,
        ),
        (
            move: "mist",
            level: 32,
        ),
        (
            move: "water-gun",
            level: 1,
        ),
        (
            move: "water-gun",
            level: 10,
        ),
        (
            move: "hydro-pump",
            level: 59,
        ),
        (
            move: "amnesia",
            level: 52,
        ),
        (
            move: "splash",
            level: 1,
        ),
        (
            move: "rest",
            level: 37,
        ),
        (
            move: "rollout",
            level: 1,
        ),
        (
            move: "rollout",
            level: 14,
        ),
        (
            move: "whirlpool",
            level: 19,
        ),
        (
            move: "astonish",
            level: 23,
        ),
        (
            move: "water-spout",
            level: 44,
        ),
        (
            move: "water-pulse",
            level: 28,
        ),
    ],
)