(
    id: 5,
    name: "Charmeleon",
    primary_type: Fire,
    secondary_type: None,
    base: (
        hp: 58,
        atk: 64,
        def: 58,
        sp_atk: 80,
        sp_def: 65,
        speed: 80,
    ),
    data: (
        species: "Flame",
        height: 11,
        weight: 190,
    ),
    training: (
        base_exp: 142,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "ember",
            level: 1,
        ),
        (
            move: "ember",
            level: 7,
        ),
        (
            move: "flamethrower",
            level: 34,
        ),
        (
            move: "dragon-rage",
            level: 48,
        ),
        (
            move: "fire-spin",
            level: 55,
        ),
        (
            move: "smokescreen",
            level: 20,
        ),
        (
            move: "slash",
            level: 41,
        ),
        (
            move: "scary-face",
            level: 27,
        ),
        (
            move: "metal-claw",
            level: 13,
        ),
    ],
)