(
    id: 30,
    name: "Nidorina",
    primary_type: Poison,
    secondary_type: None,
    base: (
        hp: 70,
        atk: 62,
        def: 67,
        sp_atk: 55,
        sp_def: 55,
        speed: 56,
    ),
    data: (
        species: "Poison",
        height: 8,
        weight: 200,
    ),
    training: (
        base_exp: 128,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(8),
    ),
    moves: [
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "double-kick",
            level: 12,
        ),
        (
            move: "tail-whip",
            level: 8,
        ),
        (
            move: "poison-sting",
            level: 18,
        ),
        (
            move: "bite",
            level: 22,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "fury-swipes",
            level: 34,
        ),
        (
            move: "crunch",
            level: 53,
        ),
        (
            move: "flatter",
            level: 43,
        ),
        (
            move: "helping-hand",
            level: 26,
        ),
    ],
)