(
    identifier: "oak_catch_player",
    location: None,
    conditions: [
        WorldEvent(
            id: "oak_introduce_pokemon",
            happened: false,
            activate: true,
        )
    ],
    actions: [
        PlayerFreeze,
        NPCSpawn(
            id: 0,
            npc: NPC(
                identifier: (
                    name: "Oak",
                    npc_type: "prof_oak",
                ),
                position: (
                    coords: (
                        x: 6,
                        y: 11
                    ),
                    direction: Up
                ),
            )
        ),
        PlayMusic("Oak"),
        Wait(0.5),
        NPCMove(
            0,
            (
                coords: (
                    x: 6,
                    y: 7,
                ),
            ),
        ),
        NPCDespawn(0),
        NPCSpawn(
            id: 1,
            npc: NPC(
                identifier: (
                    name: "Rival",
                    npc_type: "rival",
                ),
                position: (
                    coords: (
                        x: 5,
                        y: 4,
                    ),
                    direction: Down,
                ),
                trainer: Some(
                    (
                        encounter_message: [],
                        party: (
                            pokemon: [
                                (
                                    id: 7,
                                    level: 5
                                ),
                            ]
                        ),
                        worth: 0
                    )
                ),
            )
        ),
        PlayerMove((
            x: 6,
            y: 4,
        )),
        DisplayText(
            (
                messages: [
                    (
                        message: [
                            "Here's some pokemon"
                        ]
                    )
                ]
            )
        ),
        PlayerGivePokemon(
            (
                id: 1,
                level: 5,
            )
        ),
        PlayerGivePokemon(
            (
                id: 4,
                level: 5,
            )
        ),
        PlayerGivePokemon(
            (
                id: 7,
                level: 5,
            )
        ),
        PlayMapMusic,
        PlayerUnfreeze,
    ]
)