(
    id: 365,
    name: "Walrein",
    primary_type: Ice,
    secondary_type: Some(Water),
    base: (
        hp: 110,
        atk: 80,
        def: 90,
        sp_atk: 95,
        sp_def: 90,
        speed: 65,
    ),
    data: (
        species: "Ice",
        height: 14,
        weight: 1506,
    ),
    training: (
        base_exp: 239,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "body-slam",
            level: 19,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "water-gun",
            level: 1,
        ),
        (
            move: "blizzard",
            level: 50,
        ),
        (
            move: "aurora-beam",
            level: 25,
        ),
        (
            move: "defense-curl",
            level: 1,
        ),
        (
            move: "rest",
            level: 39,
        ),
        (
            move: "snore",
            level: 39,
        ),
        (
            move: "powder-snow",
            level: 1,
        ),
        (
            move: "encore",
            level: 7,
        ),
        (
            move: "hail",
            level: 31,
        ),
        (
            move: "ice-ball",
            level: 13,
        ),
        (
            move: "sheer-cold",
            level: 61,
        ),
    ],
)