(
    location: (
        min: (
            x: 9,
            y: 2,
        ),
        max: (
            x: 9,
            y: 2,
        ),
    ),
    destination: (
        location: (
            map: Some("pallet"),
            index: "player_house",
        ),
        position: (
            coords: (
                x: 11,
                y: 2,
            ),
            direction: Some(Left),
        ),
        transition: (
            move_on_exit: true,
            warp_on_tile: true,
        ),
    )
)