(
    id: 379,
    name: "Registeel",
    primary_type: Steel,
    secondary_type: None,
    base: (
        hp: 80,
        atk: 75,
        def: 150,
        sp_atk: 75,
        sp_def: 150,
        speed: 50,
    ),
    data: (
        species: "Iron",
        height: 19,
        weight: 2050,
    ),
    training: (
        base_exp: 261,
        growth_rate: Slow,
    ),
    breeding: (
        gender: None,
    ),
    moves: [
        (
            move: "hyper-beam",
            level: 65,
        ),
        (
            move: "amnesia",
            level: 41,
        ),
        (
            move: "explosion",
            level: 1,
        ),
        (
            move: "curse",
            level: 17,
        ),
        (
            move: "zap-cannon",
            level: 49,
        ),
        (
            move: "lock-on",
            level: 57,
        ),
        (
            move: "metal-claw",
            level: 9,
        ),
        (
            move: "ancient-power",
            level: 33,
        ),
        (
            move: "superpower",
            level: 25,
        ),
        (
            move: "iron-defense",
            level: 41,
        ),
    ],
)