(
    id: 185,
    name: "Sudowoodo",
    primary_type: Rock,
    secondary_type: None,
    base: (
        hp: 70,
        atk: 100,
        def: 115,
        sp_atk: 30,
        sp_def: 65,
        speed: 30,
    ),
    data: (
        species: "Imitation",
        height: 12,
        weight: 380,
    ),
    training: (
        base_exp: 144,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "slam",
            level: 49,
        ),
        (
            move: "double-edge",
            level: 57,
        ),
        (
            move: "low-kick",
            level: 17,
        ),
        (
            move: "rock-throw",
            level: 1,
        ),
        (
            move: "mimic",
            level: 1,
        ),
        (
            move: "rock-slide",
            level: 25,
        ),
        (
            move: "flail",
            level: 9,
        ),
        (
            move: "feint-attack",
            level: 41,
        ),
        (
            move: "block",
            level: 33,
        ),
    ],
)