(
    id: "hyper_potion",
    name: "Hyper Potion",
    description: [
        "Heals a pokemon for 200 HP."
    ],
    use: Script((
        consume: true,
        actions: [
            HealPokemon(200),
        ],
    )),
)