(
    chunk: Some((
        config: (
            name: "Route 15",
            file: "3.33_ROUTE 15.map",
        ),
        piece_index: 33,
        coords: (
            x: 240,
            y: 310,
        ),
        connections: [7, 32],
    ))
)