(
    id: 254,
    name: "Sceptile",
    primary_type: Grass,
    secondary_type: None,
    base: (
        hp: 70,
        atk: 85,
        def: 65,
        sp_atk: 105,
        sp_def: 85,
        speed: 120,
    ),
    data: (
        species: "Forest",
        height: 17,
        weight: 522,
    ),
    training: (
        base_exp: 239,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "pound",
            level: 1,
        ),
        (
            move: "slam",
            level: 43,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "absorb",
            level: 1,
        ),
        (
            move: "absorb",
            level: 6,
        ),
        (
            move: "agility",
            level: 35,
        ),
        (
            move: "quick-attack",
            level: 1,
        ),
        (
            move: "quick-attack",
            level: 11,
        ),
        (
            move: "screech",
            level: 23,
        ),
        (
            move: "detect",
            level: 51,
        ),
        (
            move: "false-swipe",
            level: 59,
        ),
        (
            move: "fury-cutter",
            level: 16,
        ),
        (
            move: "pursuit",
            level: 17,
        ),
        (
            move: "leaf-blade",
            level: 29,
        ),
    ],
)