(
    id: 318,
    name: "Carvanha",
    primary_type: Water,
    secondary_type: Some(Dark),
    base: (
        hp: 45,
        atk: 90,
        def: 20,
        sp_atk: 65,
        sp_def: 20,
        speed: 65,
    ),
    data: (
        species: "Savage",
        height: 8,
        weight: 208,
    ),
    training: (
        base_exp: 61,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "take-down",
            level: 31,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "bite",
            level: 1,
        ),
        (
            move: "agility",
            level: 43,
        ),
        (
            move: "rage",
            level: 7,
        ),
        (
            move: "screech",
            level: 28,
        ),
        (
            move: "focus-energy",
            level: 13,
        ),
        (
            move: "scary-face",
            level: 16,
        ),
        (
            move: "swagger",
            level: 37,
        ),
        (
            move: "crunch",
            level: 22,
        ),
    ],
)