(
    data: (
        id: 294,
        name: "Loudred",
        primary_type: Normal,
        secondary_type: None,
        species: "Big",
        height: 10,
        weight: 405,
    ),
    base: (
        hp: 84,
        atk: 71,
        def: 43,
        sp_atk: 71,
        sp_def: 43,
        speed: 48,
    ),
    training: (
        base_exp: 126,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "pound",
            level: 1,
        ),
        (
            move: "stomp",
            level: 29,
        ),
        (
            move: "roar",
            level: 43,
        ),
        (
            move: "supersonic",
            level: 23,
        ),
        (
            move: "screech",
            level: 37,
        ),
        (
            move: "rest",
            level: 51,
        ),
        (
            move: "sleep-talk",
            level: 51,
        ),
        (
            move: "uproar",
            level: 1,
        ),
        (
            move: "uproar",
            level: 5,
        ),
        (
            move: "hyper-voice",
            level: 57,
        ),
        (
            move: "astonish",
            level: 1,
        ),
        (
            move: "astonish",
            level: 11,
        ),
        (
            move: "howl",
            level: 1,
        ),
        (
            move: "howl",
            level: 15,
        ),
    ],
)