(
    id: "encounter_boy",
    data: "files/encounter_boy.ogg",
    // music: (
    //     track: 29,
    //     name: "encounter_boy",
    //     data: (
    //         loop_start: None,
    //     )
    // )
)