(
    data: (
        id: 186,
        name: "Politoed",
        primary_type: Water,
        secondary_type: None,
        species: "Frog",
        height: 11,
        weight: 339,
    ),
    base: (
        hp: 90,
        atk: 75,
        def: 75,
        sp_atk: 90,
        sp_def: 100,
        speed: 70,
    ),
    training: (
        base_exp: 225,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "double-slap",
            level: 1,
        ),
        (
            move: "water-gun",
            level: 1,
        ),
        (
            move: "hypnosis",
            level: 1,
        ),
        (
            move: "perish-song",
            level: 1,
        ),
        (
            move: "perish-song",
            level: 35,
        ),
        (
            move: "swagger",
            level: 51,
        ),
    ],
)