(
    location: (
        min: (
            x: 17,
            y: 11,
        ),
        max: (
            x: 17,
            y: 11,
        )
    ),
    destination: (
        map: Some("digletts_cave"),
        index: "route_2",
        position: (
            coords: (
                x: 4,
                y: 7,
            ),
            direction: Some(Up),
        ),
        transition: (
            move_on_exit: true,
            warp_on_tile: false,
        ),
    )
)