(
    location: (
        min: (
            x: 0x12,
            y: 0x2E,
        ),
        max: (
            x: 0x13,
            y: 0x2E,
        )
    ),
    destination: (
        map: Some("route_2_houses"),
        index: "east_warp",
        position: (
            coords: (
                x: 7,
                y: 11,
            ),
            direction: Some(Up),
        )
    )
)