(
    location: (
        min: (
            x: 5,
            y: 51,
        ),
        max: (
            x: 6,
            y: 51,
        )
    ),
    destination: (
        map: Some("route_2_houses"),
        index: "forest_south",
        position: (
            coords: (
                x: 7,
                y: 10,
            ),
            direction: Some(Up),
        )
    )
)