(
    location: (
        min: (
            x: 5,
            y: 14,
        ),
        max: (
            x: 6,
            y: 14,
        )
    ),
    destination: (
        map_id: "route_2_houses",
        map_index: 3,
        position: (
            coords: (
                x: 7,
                y: 1,
            ),
            direction: Some(Down),
        )
    )
)