(
    id: 264,
    name: "Linoone",
    primary_type: Normal,
    secondary_type: None,
    base: (
        hp: 78,
        atk: 70,
        def: 61,
        sp_atk: 50,
        sp_def: 61,
        speed: 100,
    ),
    data: (
        species: "Rushing",
        height: 5,
        weight: 325,
    ),
    training: (
        base_exp: 147,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "sand-attack",
            level: 13,
        ),
        (
            move: "headbutt",
            level: 1,
        ),
        (
            move: "headbutt",
            level: 9,
        ),
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "tail-whip",
            level: 1,
        ),
        (
            move: "tail-whip",
            level: 5,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "fury-swipes",
            level: 29,
        ),
        (
            move: "rest",
            level: 47,
        ),
        (
            move: "slash",
            level: 41,
        ),
        (
            move: "belly-drum",
            level: 53,
        ),
        (
            move: "mud-sport",
            level: 23,
        ),
        (
            move: "odor-sleuth",
            level: 17,
        ),
        (
            move: "covet",
            level: 35,
        ),
    ],
)