(
    data: (
        id: 155,
        name: "Cyndaquil",
        primary_type: Fire,
        secondary_type: None,
        species: "Fire",
        height: 5,
        weight: 79,
    ),
    base: (
        hp: 39,
        atk: 52,
        def: 43,
        sp_atk: 60,
        sp_def: 50,
        speed: 65,
    ),
    training: (
        base_exp: 62,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "ember",
            level: 12,
        ),
        (
            move: "flamethrower",
            level: 46,
        ),
        (
            move: "quick-attack",
            level: 19,
        ),
        (
            move: "smokescreen",
            level: 6,
        ),
        (
            move: "swift",
            level: 36,
        ),
        (
            move: "flame-wheel",
            level: 27,
        ),
    ],
)