(
    identifier: "pewter",
    name: "Pewter City",
    file: "3.2_PEWTER CITY.map",

    chunk: {
        Down: ("route_2", 12),
        Right: ("route_3", 10),
    },

    settings: (
        fly_position: Some((x: 17, y: 26))
    )
)