(
    id: "calvin",
    npc: (
        name: "Calvin",
        type: "youngster",
        character: (
            position: (
                coords: (
                    x: 29,
                    y: 10
                ),
                direction: Left
            ),
        ),
        interact: Message([
            (
                lines: [
                    "I always wear shorts, even in",
                    "winter. That's my policy."
                ],
                color: Blue,
            )
        ]),
        trainer: Some((
            tracking: Some(5),
            encounter_message: [
                [
                    "Hey! You're not wearing shorts!",
                    "What's wrong with you?"
                ]
            ],
            party: [
                (
                    pokemon: 21,
                    level: 14,
                    gender: Some(Male),
                )
            ],
            victory_message: [
                [
                    "Lost!",
                    "Lost! Lost!"
                ]
            ],
            worth: 224,
        )),
    ),
)