(
    id: "colton",
    npc: (
        name: "Colton",
        type: "bug_catcher",
        character: (
            position: (
                coords: (
                    x: 13,
                    y: 6
                ),
                direction: Right
            ),
        ),
        interact: Message([
            (
                lines: [
                    "There are other kinds of POKEMON", 
                    "than the ones you find in forests."
                ],
                color: Blue,
            )
        ]),
        trainer: Some((
            tracking: Some(3),
            encounter_message: [
                [
                    "Hey!",
                    "I saw you in VIRIDIAN FOREST!"
                ]
            ],
            party: [
                (
                    pokemon: 10,
                    level: 10,
                    gender: Some(Male),
                ),
                (
                    pokemon: 13,
                    level: 10,
                    gender: Some(Male),
                ),
                (
                    pokemon: 10,
                    level: 10,
                    gender: Some(Male),
                )
            ],
            victory_message: [
                [
                    "You beat me again!"
                ]
            ],
            worth: 0
        )),
    ),
)