(
    id: "greg",
    npc: (
        name: "Greg",
        type: "bug_catcher",
        character: (
            position: (
                coords: (
                    x: 25,
                    y: 4
                ),
                direction: Down
            ),
        ),
        message: Some([(
            lines: [
                "If a POKEMON BOX on the PC gets",
                "full, just switch to another BOX."
            ]
        )]),
        trainer: Some((
            tracking: Some(2),
            battle_transition: "Trainer",
            encounter_message: [
                [
                    "Are you a TRAINER?",
                    "Let's get with it right away!"
                ]
            ],
            party: [
                (
                    id: 13,
                    level: 9,
                    gender: Male,
                ),
                (
                    id: 13,
                    level: 9,
                    gender: Male,
                ),
                (
                    id: 14,
                    level: 9,
                    gender: Male,
                ),
                (
                    id: 11,
                    level: 9,
                    gender: Male,
                )
            ],
            victory_message: [
                [
                    "If a POKEMON BOX on the PC gets",
                    "full, just switch to another BOX."
                ]
            ],
            worth: 0
        )),
    ),
)