(
    id: "greg",
    npc: (
        character: (
            name: "Greg",
            position: (
                coords: (
                    x: 25,
                    y: 4
                ),
                direction: Down
            ),
        ),
        type: "bug_catcher",
        interact: Message([
            [
                "If a POKEMON BOX on the PC gets",
                "full, just switch to another BOX."
            ]
        ]),
        trainer: Some((
            tracking: Some(2),
            battle_transition: "Trainer",
            encounter_message: [
                [
                    "Are you a TRAINER?",
                    "Let's get with it right away!"
                ]
            ],
            party: [
                (
                    pokemon: 13,
                    level: 9,
                    gender: Some(Male),
                ),
                (
                    pokemon: 13,
                    level: 9,
                    gender: Some(Male),
                ),
                (
                    pokemon: 14,
                    level: 9,
                    gender: Some(Male),
                ),
                (
                    pokemon: 11,
                    level: 9,
                    gender: Some(Male),
                )
            ],
            victory_message: [
                [
                    "If a POKEMON BOX on the PC gets",
                    "full, just switch to another BOX."
                ]
            ],
            worth: 0
        )),
    ),
)