(
    id: "janice",
    npc: (
        name: "Janice",
        type: "lass",
        character: (
            position: (
                coords: (
                    x: 19,
                    y: 9
                ),
                direction: Left
            ),
        ),
        interact: Message([
            (
                lines: [
                    "You shouldn't be staring if you",
                    "don't want to battle!"
                ],
                color: Red,
            )
        ]),
        trainer: Some((
            tracking: Some(5),
            encounter_message: [
                [
                    "Excuse me?",
                    "You looked at me, didn't you?"
                ]
            ],
            party: [
                (
                    id: 16,
                    level: 9,
                    gender: Female,
                ),
                (
                    id: 16,
                    level: 9,
                    gender: Female,
                )
            ],
            worth: 0
        )),
    ),
)