(
    id: "robin",
    npc: (
        name: "Robin",
        type: "lass",
        character: (
            position: (
                coords: (
                    x: 40,
                    y: 11
                ),
                direction: Down
            ),
        ),
        movement: WalkUpAndDown(2),
        message: Some([
            (
                lines: [
                    "ROUTE 4 is at the foot of",
                    "MT. MOON."
                ],
                color: Red,
            )
        ]),
        trainer: Some((
            tracking: Some(2),
            encounter_message: [
                [
                    "Eek!",
                    "Did you touch me?"
                ]
            ],
            party: [
                (
                    id: 39,
                    level: 14,
                    gender: Female,
                )
            ],
            worth: 0
        )),
    ),
)