(
    data: (
        id: 258,
        name: "Mudkip",
        primary_type: Water,
        secondary_type: None,
        species: "Mud",
        height: 4,
        weight: 76,
    ),
    base: (
        hp: 50,
        atk: 70,
        def: 50,
        sp_atk: 50,
        sp_def: 50,
        speed: 40,
    ),
    training: (
        base_exp: 62,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "take-down",
            level: 28,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "water-gun",
            level: 10,
        ),
        (
            move: "hydro-pump",
            level: 42,
        ),
        (
            move: "bide",
            level: 15,
        ),
        (
            move: "protect",
            level: 37,
        ),
        (
            move: "mud-slap",
            level: 6,
        ),
        (
            move: "foresight",
            level: 19,
        ),
        (
            move: "whirlpool",
            level: 33,
        ),
        (
            move: "endeavor",
            level: 46,
        ),
        (
            move: "mud-sport",
            level: 24,
        ),
    ],
)