(
    data: (
        id: 82,
        name: "Magneton",
        primary_type: Electric,
        secondary_type: Some(Steel),
        species: "Magnet",
        height: 10,
        weight: 600,
    ),
    base: (
        hp: 50,
        atk: 60,
        def: 95,
        sp_atk: 120,
        sp_def: 70,
        speed: 70,
    ),
    training: (
        base_exp: 163,
        growth_rate: Medium,
    ),
    breeding: (
        gender: None,
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "supersonic",
            level: 1,
        ),
        (
            move: "supersonic",
            level: 11,
        ),
        (
            move: "sonic-boom",
            level: 16,
        ),
        (
            move: "thunder-shock",
            level: 1,
        ),
        (
            move: "thunder-shock",
            level: 6,
        ),
        (
            move: "thunder-wave",
            level: 21,
        ),
        (
            move: "screech",
            level: 53,
        ),
        (
            move: "tri-attack",
            level: 44,
        ),
        (
            move: "zap-cannon",
            level: 62,
        ),
        (
            move: "lock-on",
            level: 35,
        ),
        (
            move: "spark",
            level: 26,
        ),
        (
            move: "metal-sound",
            level: 1,
        ),
    ],
)