(
    data: (
        id: 194,
        name: "Wooper",
        primary_type: Water,
        secondary_type: Some(Ground),
        species: "Water",
        height: 4,
        weight: 85,
    ),
    base: (
        hp: 55,
        atk: 45,
        def: 45,
        sp_atk: 25,
        sp_def: 25,
        speed: 15,
    ),
    training: (
        base_exp: 42,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "slam",
            level: 11,
        ),
        (
            move: "tail-whip",
            level: 1,
        ),
        (
            move: "mist",
            level: 51,
        ),
        (
            move: "water-gun",
            level: 1,
        ),
        (
            move: "earthquake",
            level: 36,
        ),
        (
            move: "haze",
            level: 51,
        ),
        (
            move: "amnesia",
            level: 21,
        ),
        (
            move: "rain-dance",
            level: 41,
        ),
        (
            move: "yawn",
            level: 31,
        ),
        (
            move: "mud-shot",
            level: 16,
        ),
    ],
)