(
    data: (
        id: 49,
        name: "Venomoth",
        primary_type: Bug,
        secondary_type: Some(Poison),
        species: "Poison",
        height: 15,
        weight: 125,
    ),
    base: (
        hp: 70,
        atk: 65,
        def: 60,
        sp_atk: 90,
        sp_def: 75,
        speed: 90,
    ),
    training: (
        base_exp: 158,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "gust",
            level: 31,
        ),
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "supersonic",
            level: 1,
        ),
        (
            move: "supersonic",
            level: 9,
        ),
        (
            move: "disable",
            level: 1,
        ),
        (
            move: "psybeam",
            level: 36,
        ),
        (
            move: "poison-powder",
            level: 20,
        ),
        (
            move: "stun-spore",
            level: 28,
        ),
        (
            move: "sleep-powder",
            level: 42,
        ),
        (
            move: "confusion",
            level: 17,
        ),
        (
            move: "psychic",
            level: 52,
        ),
        (
            move: "leech-life",
            level: 25,
        ),
        (
            move: "foresight",
            level: 1,
        ),
        (
            move: "silver-wind",
            level: 1,
        ),
    ],
)