(
    identifier: "gary_fight_1",
    location: Some(
        (
            min: (
                x: 5,
                y: 8,
            ),
            max: (
                x: 7,
                y: 8,
            ),
        )
    ),
    conditions: [
        Scripts([
            (
                identifier: "oak_introduce_pokemon",
                happened: true,
            ),
            (
                identifier: "gary_fight_1",
                happened: false,
            ),
        ]),
        PlayerHasPokemon(true),
    ],
    actions: [
        PlayerFreezeInput,
        PlayMusic("EncounterRival"),
        DisplayText([
            (
                lines: [
                    "%r: Wait, %p!",
                    "Let's check out our POKEMON!"
                ],
                color: Blue,
            ),
            (
                lines: [
                    "Come on, I'll take you on!"
                ],
                color: Blue,
            )
        ]),
        NPCMoveToPlayer(10),
        NPCBattle(10),
        NPCMove(
            10,
            (
                coords: (
                    x: 6,
                    y: 12,
                )
            )
        ),
        NPCRemove(10),
        PlayMapMusic,
        PlayerUnfreezeInput,
    ]
)