(
    chunk: Some((
        config: (
            name: "Celadon City",
            file: "3.6_CELADON CITY.map",
        ),
        piece_index: 6,
        coords: (
            x: 180,
            y: 120,
        ),
        connections: [25, 34],
    ))
)