(
    data: (
        id: 247,
        name: "Pupitar",
        primary_type: Rock,
        secondary_type: Some(Ground),
        species: "Hard",
        height: 12,
        weight: 1520,
    ),
    base: (
        hp: 70,
        atk: 84,
        def: 70,
        sp_atk: 65,
        sp_def: 70,
        speed: 51,
    ),
    training: (
        base_exp: 144,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "thrash",
            level: 29,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "bite",
            level: 1,
        ),
        (
            move: "hyper-beam",
            level: 65,
        ),
        (
            move: "earthquake",
            level: 56,
        ),
        (
            move: "screech",
            level: 1,
        ),
        (
            move: "screech",
            level: 15,
        ),
        (
            move: "rock-slide",
            level: 22,
        ),
        (
            move: "scary-face",
            level: 38,
        ),
        (
            move: "sandstorm",
            level: 1,
        ),
        (
            move: "sandstorm",
            level: 8,
        ),
        (
            move: "crunch",
            level: 47,
        ),
    ],
)