(
    id: 46,
    name: "Paras",
    primary_type: Bug,
    secondary_type: Some(Grass),
    base: (
        hp: 35,
        atk: 70,
        def: 55,
        sp_atk: 45,
        sp_def: 55,
        speed: 25,
    ),
    data: (
        species: "Mushroom",
        height: 3,
        weight: 54,
    ),
    training: (
        base_exp: 57,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "growth",
            level: 37,
        ),
        (
            move: "poison-powder",
            level: 13,
        ),
        (
            move: "stun-spore",
            level: 7,
        ),
        (
            move: "leech-life",
            level: 19,
        ),
        (
            move: "spore",
            level: 25,
        ),
        (
            move: "slash",
            level: 31,
        ),
        (
            move: "giga-drain",
            level: 43,
        ),
        (
            move: "aromatherapy",
            level: 49,
        ),
    ],
)