(
    data: (
        id: 369,
        name: "Relicanth",
        primary_type: Water,
        secondary_type: Some(Rock),
        species: "Longevity",
        height: 10,
        weight: 234,
    ),
    base: (
        hp: 100,
        atk: 90,
        def: 130,
        sp_atk: 45,
        sp_def: 65,
        speed: 55,
    ),
    training: (
        base_exp: 170,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "take-down",
            level: 29,
        ),
        (
            move: "double-edge",
            level: 57,
        ),
        (
            move: "water-gun",
            level: 8,
        ),
        (
            move: "hydro-pump",
            level: 64,
        ),
        (
            move: "harden",
            level: 1,
        ),
        (
            move: "rest",
            level: 50,
        ),
        (
            move: "ancient-power",
            level: 43,
        ),
        (
            move: "yawn",
            level: 22,
        ),
        (
            move: "mud-sport",
            level: 36,
        ),
        (
            move: "rock-tomb",
            level: 15,
        ),
    ],
)