(
    identifier: (
        index: 0,
        name: "Ben",
        npc_type: "youngster"
    ),
    position: (
        coords: (
            x: 18,
            y: 4
        ),
        direction: Down
    ),
    properties: (
        message: Some([
            (
                lines: [
                    "Are you using a POKEMON CENTER's",
                    "PC for storing your POKEMON?"
                ],
                color: Blue,
            ),
            (
                lines: [
                    "Each box can hold up to",
                    "30 POKEMON."
                ],
                color: Blue,
            )
        ])
    ),
    trainer: Some((
        tracking_length: Some(2),
        encounter_message: [
            [
                "Hi!",
                "I like shorts!"
            ],
            [
                "They're delightfully comfy and",
                "easy to wear!"
            ]
        ],
        victory_message: [
            "I don't believe it!"
        ],
        party: [
            (
                id: 19,
                data: (
                    level: 11,
                    gender: Male,
                ),
            ),
            (
                id: 23,
                data: (
                    level: 11,
                    gender: Male,
                ),
            )
        ],
        worth: 176,
    ))
)