(
    identifier: (
        name: "Calvin",
        npc_type: "youngster"
    ),
    position: (
        coords: (
            x: 29,
            y: 10
        ),
        direction: Left
    ),
    trainer: Some((
        tracking_length: Some(5),
        encounter_message: [
            [
                "Hey! You're not wearing shorts!",
                "What's wrong with you?"
            ]
        ],
        party: (
            pokemon: [
                (
                    id: 21,
                    level: 14
                )
            ]
        ),
        victory_message: [
            "Lost!",
            "Lost! Lost!"
        ],
        worth: 224,
    ))
)