(
    identifier: (
        index: 1,
        name: "Calvin",
        npc_type: "youngster"
    ),
    position: (
        coords: (
            x: 29,
            y: 10
        ),
        direction: Left
    ),
    properties: (
        message: Some([
            (
                lines: [
                    "I always wear shorts, even in",
                    "winter. That's my policy."
                ],
                color: Blue,
            )
        ])
    ),
    trainer: Some((
        tracking_length: Some(5),
        encounter_message: [
            [
                "Hey! You're not wearing shorts!",
                "What's wrong with you?"
            ]
        ],
        party: [
            (
                id: 21,
                data: (
                    level: 14,
                    gender: Male,
                ),
            )
        ],
        victory_message: [
            "Lost!",
            "Lost! Lost!"
        ],
        worth: 224,
    ))
)