(
    identifier: (
        index: 3,
        name: "Greg",
        npc_type: "bug_catcher"
    ),
    position: (
        coords: (
            x: 25,
            y: 4
        ),
        direction: Down
    ),
    properties: (
        message: Some([(
            lines: [
                "If a POKEMON BOX on the PC gets",
                "full, just switch to another BOX."
            ]
        )]),
    ),
    trainer: Some(Trainer(
        tracking_length: Some(2),
        battle_transition: Trainer,
        encounter_message: [
            [
                "Are you a TRAINER?",
                "Let's get with it right away!"
            ]
        ],
        party: (
            pokemon: [
                (
                    id: 13,
                    level: 9,
                    gender: Male,
                ),
                (
                    id: 13,
                    level: 9,
                    gender: Male,
                ),
                (
                    id: 14,
                    level: 9,
                    gender: Male,
                ),
                (
                    id: 11,
                    level: 9,
                    gender: Male,
                )
            ]
        ),
        victory_message: [
            "If a POKEMON BOX on the PC gets",
            "full, just switch to another BOX."
        ],
        worth: 0
    ))
)