(
    identifier: (
        name: "James",
        npc_type: "bug_catcher"
    ),
    position: (
        coords: (
            x: 32,
            y: 6
        ),
        direction: Right,
    ),
    trainer: Some((
        tracking_length: Some(4),
        encounter_message: [
            [
                "I'll battle you with the POKEMON",
                "I just caught."
            ]
        ],
        party: (
            pokemon: [
                (
                    id: 10,
                    level: 11
                ),
                (
                    id: 11,
                    level: 11
                )
            ]
        ),
        victory_message: [
            "Done like dinner!"
        ],
        worth: 0
    ))
)