(
    identifier: (
        name: "Janice",
        npc_type: "lass"
    ),
    position: (
        coords: (
            x: 19,
            y: 9
        ),
        direction: Left
    ),
    trainer: Some((
        tracking_length: Some(5),
        message_color: Red,
        encounter_message: [
            [
                "Excuse me?",
                "You looked at me, didn't you?"
            ]
        ],
        party: (
            pokemon: [
                (
                    id: 16,
                    level: 9
                ),
                (
                    id: 16,
                    level: 9
                )
            ]
        ),
        worth: 0
    ))
)