(
    id: 170,
    name: "Chinchou",
    primary_type: Water,
    secondary_type: Some(Electric),
    base: (
        hp: 75,
        atk: 38,
        def: 38,
        sp_atk: 56,
        sp_def: 56,
        speed: 67,
    ),
    data: (
        species: "Angler",
        height: 5,
        weight: 120,
    ),
    training: (
        base_exp: 66,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "take-down",
            level: 37,
        ),
        (
            move: "supersonic",
            level: 5,
        ),
        (
            move: "water-gun",
            level: 17,
        ),
        (
            move: "hydro-pump",
            level: 41,
        ),
        (
            move: "thunder-wave",
            level: 1,
        ),
        (
            move: "confuse-ray",
            level: 29,
        ),
        (
            move: "bubble",
            level: 1,
        ),
        (
            move: "flail",
            level: 13,
        ),
        (
            move: "spark",
            level: 25,
        ),
        (
            move: "charge",
            level: 49,
        ),
    ],
)