(
    identifier: (
        index: 0,
        name: "NPC 0",
        type: "woman_1"
    ),
    position: (
        coords: (
            x: 6,
            y: 15
        ),
        direction: Down
    ),
    properties: (
        movement: LookAround
    ),   
)