(
    identifier: (
        index: 1,
        name: "NPC 1",
        npc_type: "woman_1"
    ),
    position: (
        coords: (
            x: 33,
            y: 17
        ),
        direction: Down
    ),
    properties: (
        movement: LookAround
    ),
)