(
    identifier: (
        name: "NPC 2",
        npc_type: "fat_man"
    ),
    position: (
        coords: (
            x: 21,
            y: 29
        ),
        direction: Down
    ),
    movement_type: LookAround,
    message_set: (
        messages: [
            (
                color: Blue,
                message: [
                    "There aren't many serious POKEMON",
                    "TRAINERS here."
                ]
            ),
            (
                color: Blue,
                message: [
                    "They're all like BUG CATCHERS,",
                    "you know, just hobbyists."
                ]
            ),
            (
                color: Blue,
                message: [
                    "But PEWTER GYM's BROCK isn't like",
                    "that, not one bit."
                ]
            )
        ]
    )
)