(
    id: 93,
    name: "Haunter",
    primary_type: Ghost,
    secondary_type: Some(Poison),
    base: (
        hp: 45,
        atk: 50,
        def: 45,
        sp_atk: 115,
        sp_def: 55,
        speed: 95,
    ),
    data: (
        species: "Gas",
        height: 16,
        weight: 1,
    ),
    training: (
        base_exp: 142,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "hypnosis",
            level: 1,
        ),
        (
            move: "night-shade",
            level: 16,
        ),
        (
            move: "confuse-ray",
            level: 21,
        ),
        (
            move: "lick",
            level: 1,
        ),
        (
            move: "dream-eater",
            level: 31,
        ),
        (
            move: "nightmare",
            level: 53,
        ),
        (
            move: "curse",
            level: 13,
        ),
        (
            move: "spite",
            level: 1,
        ),
        (
            move: "spite",
            level: 8,
        ),
        (
            move: "destiny-bond",
            level: 39,
        ),
        (
            move: "mean-look",
            level: 64,
        ),
        (
            move: "shadow-ball",
            level: 45,
        ),
        (
            move: "shadow-punch",
            level: 25,
        ),
    ],
)