(
    id: 246,
    name: "Larvitar",
    primary_type: Rock,
    secondary_type: Some(Ground),
    base: (
        hp: 50,
        atk: 64,
        def: 50,
        sp_atk: 45,
        sp_def: 50,
        speed: 41,
    ),
    data: (
        species: "Rock",
        height: 6,
        weight: 720,
    ),
    training: (
        base_exp: 60,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "thrash",
            level: 29,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "bite",
            level: 1,
        ),
        (
            move: "hyper-beam",
            level: 57,
        ),
        (
            move: "earthquake",
            level: 50,
        ),
        (
            move: "screech",
            level: 15,
        ),
        (
            move: "rock-slide",
            level: 22,
        ),
        (
            move: "scary-face",
            level: 36,
        ),
        (
            move: "sandstorm",
            level: 8,
        ),
        (
            move: "crunch",
            level: 43,
        ),
    ],
)