(
    id: 205,
    name: "Forretress",
    primary_type: Bug,
    secondary_type: Some(Steel),
    base: (
        hp: 75,
        atk: 90,
        def: 140,
        sp_atk: 60,
        sp_def: 60,
        speed: 40,
    ),
    data: (
        species: "Bagworm",
        height: 12,
        weight: 1258,
    ),
    training: (
        base_exp: 163,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "take-down",
            level: 15,
        ),
        (
            move: "double-edge",
            level: 59,
        ),
        (
            move: "bide",
            level: 29,
        ),
        (
            move: "self-destruct",
            level: 1,
        ),
        (
            move: "self-destruct",
            level: 8,
        ),
        (
            move: "explosion",
            level: 39,
        ),
        (
            move: "protect",
            level: 1,
        ),
        (
            move: "spikes",
            level: 49,
        ),
        (
            move: "zap-cannon",
            level: 31,
        ),
        (
            move: "rapid-spin",
            level: 22,
        ),
    ],
)