(
    id: 167,
    name: "Spinarak",
    primary_type: Bug,
    secondary_type: Some(Poison),
    base: (
        hp: 40,
        atk: 60,
        def: 40,
        sp_atk: 40,
        sp_def: 40,
        speed: 30,
    ),
    data: (
        species: "String",
        height: 5,
        weight: 85,
    ),
    training: (
        base_exp: 50,
        growth_rate: Fast,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "poison-sting",
            level: 1,
        ),
        (
            move: "string-shot",
            level: 1,
        ),
        (
            move: "psychic",
            level: 53,
        ),
        (
            move: "agility",
            level: 45,
        ),
        (
            move: "night-shade",
            level: 17,
        ),
        (
            move: "constrict",
            level: 11,
        ),
        (
            move: "leech-life",
            level: 23,
        ),
        (
            move: "fury-swipes",
            level: 30,
        ),
        (
            move: "spider-web",
            level: 37,
        ),
        (
            move: "scary-face",
            level: 6,
        ),
    ],
)