(
    location: (
        min: (
            x: 0x9,
            y: 0x8,
        ),
        max: (
            x: 0xA,
            y: 0x9,
        )
    ),
    destination: (
        map_id: "pewter_houses",
        map_index: 0,
        position: (
            coords: (
                x: 9,
                y: 8,
            ),
            direction: Some(Left),
        ),
        transition: (
            move_on_exit: true,
            warp_on_tile: true,
        ),
    )
)
