(
    data: (
        id: 98,
        name: "Krabby",
        primary_type: Water,
        secondary_type: None,
        species: "River",
        height: 4,
        weight: 65,
    ),
    base: (
        hp: 30,
        atk: 105,
        def: 90,
        sp_atk: 25,
        sp_def: 25,
        speed: 50,
    ),
    training: (
        base_exp: 65,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "vise-grip",
            level: 12,
        ),
        (
            move: "guillotine",
            level: 34,
        ),
        (
            move: "stomp",
            level: 27,
        ),
        (
            move: "leer",
            level: 5,
        ),
        (
            move: "harden",
            level: 16,
        ),
        (
            move: "bubble",
            level: 1,
        ),
        (
            move: "crabhammer",
            level: 45,
        ),
        (
            move: "flail",
            level: 49,
        ),
        (
            move: "protect",
            level: 38,
        ),
        (
            move: "mud-shot",
            level: 23,
        ),
    ],
)