(
    identifier: "oak_catch_player",
    location: Some((
        min: (
            x: 12,
            y: 1
        ),
        max: (
            x: 13,
            y: 1
        )
    )),
    conditions: [
        Scripts([
            (
                identifier: "oak_catch_player",
                happened: false,
            ),
        ])
    ],
    actions: [
        PlayerFreezeInput,
        NPCSpawn(
            (
                identifier: (
                    index: 10,
                    name: "Oak",
                    npc_type: "prof_oak",
                ),
                position: (
                    coords: (
                        x: 10,
                        y: 7
                    ),
                    direction: Up
                ),
            )
        ),
        PlayMusic("Oak"),
        DisplayText(
            (
                messages: [(
                    message: [
                        "OAK: Hey! Wait!",
                        "Don't go out!"
                    ],
                    color: Blue,
                )]
            )
        ),
        NPCMove(
            10,
            (
                coords: (
                    x: 10,
                    y: 6,
                ),
            ),
        ),
        NPCMove(
            10,
            (
                coords: (
                    x: 11,
                    y: 6,
                ),
            ),
        ),
        NPCMove(
            10,
            (
                coords: (
                    x: 11,
                    y: 4,
                ),
            ),
        ),
        NPCMove(
            10,
            (
                coords: (
                    x: 12,
                    y: 4,
                ),
            ),
        ),
        NPCMoveToPlayer(10),
        DisplayText(
            (
                messages: [
                    (
                        message: [
                            "OAK: It's unsafe!",
                            "Wild POKEMON live in tall grass!"
                        ],
                        color: Blue,
                    ),
                    (
                        message: [
                            "You need your own POKEMON for",
                            "your protection."
                        ],
                        color: Blue,
                    ),
                    (
                        message: [
                            "I know!",
                            "Here, come with me!"
                        ],
                        color: Blue,
                    )
                ]
            )
        ),
        NPCLeadPlayer(
            10,
            (
                coords: (
                    x: 12,
                    y: 3,
                ),
            )
        ),
        NPCLeadPlayer(
            10,
            (
                coords: (
                    x: 11,
                    y: 3,
                ),
            )
        ),
        NPCLeadPlayer(
            10,
            (
                coords: (
                    x: 11,
                    y: 14,
                ),
            )
        ),
        NPCLeadPlayer(
            10,
            (
                coords: (
                    x: 16,
                    y: 14,
                ),
            )
        ),
        NPCLeadPlayer(
            10,
            (
                coords: (
                    x: 16,
                    y: 13,
                ),
            )
        ),
        NPCDespawn(10),
        PlayerUnfreezeInput,
        Warp(
            (
                map_id: "pallet_houses",
                map_index: 3,
                position: (
                    coords: (
                        x: 6,
                        y: 12,
                    ),
                    direction: Some(Up),
                )
            ),
            false,
        ),
    ]
)