(
    // identifier: "oak_catch_player",
    location: Some((
        min: (
            x: 12,
            y: 1
        ),
        max: (
            x: 13,
            y: 1
        )
    )),
    conditions: [
        WorldEvent(
            id: "oak_catch_player",
            happened: false,
            activate: true,
        )
    ],
    actions: [
        PlayerFreeze,
        NPCSpawn(
            id: 0,
            npc: NPC(
                identifier: (
                    name: "Oak",
                    npc_type: "prof_oak",
                ),
                position: (
                    coords: (
                        x: 10,
                        y: 7
                    ),
                    direction: Up
                ),
            )
        ),
        PlayMusic(Oak),
        DisplayText(
            (
                messages: [(
                    message: [
                        "OAK: Hey! Wait!",
                        "Don't go out!"
                    ],
                    color: Blue,
                )]
            )
        ),
        NPCMove(
            0,
            (
                coords: (
                    x: 10,
                    y: 6,
                ),
            ),
        ),
        NPCMove(
            0,
            (
                coords: (
                    x: 11,
                    y: 6,
                ),
            ),
        ),
        NPCMove(
            0,
            (
                coords: (
                    x: 11,
                    y: 4,
                ),
            ),
        ),
        NPCMove(
            0,
            (
                coords: (
                    x: 12,
                    y: 4,
                ),
            ),
        ),
        NPCMoveToPlayer(0),
        DisplayText(
            (
                messages: [
                    (
                        message: [
                            "OAK: It's unsafe!",
                            "Wild POKEMON live in tall grass!"
                        ],
                        color: Blue,
                    ),
                    (
                        message: [
                            "You need your own POKEMON for",
                            "your protection."
                        ],
                        color: Blue,
                    ),
                    (
                        message: [
                            "I know!",
                            "Here, come with me!"
                        ],
                        color: Blue,
                    )
                ]
            )
        ),
        NPCLeadPlayer(
            0,
            (
                coords: (
                    x: 12,
                    y: 3,
                ),
            )
        ),
        NPCLeadPlayer(
            0,
            (
                coords: (
                    x: 11,
                    y: 3,
                ),
            )
        ),
        NPCLeadPlayer(
            0,
            (
                coords: (
                    x: 11,
                    y: 14,
                ),
            )
        ),
        NPCLeadPlayer(
            0,
            (
                coords: (
                    x: 16,
                    y: 14,
                ),
            )
        ),
        NPCLeadPlayer(
            0,
            (
                coords: (
                    x: 16,
                    y: 13,
                ),
            )
        ),
        NPCDespawn(0),
        PlayerUnfreeze,
        Warp(
            (
                map_id: "oaks_lab",
                map_index: 0,
                x: 6,
                y: 12,
            )
        ),
    ]
)