(
    data: (
        id: 55,
        name: "Golduck",
        primary_type: Water,
        secondary_type: None,
        species: "Duck",
        height: 17,
        weight: 766,
    ),
    base: (
        hp: 80,
        atk: 82,
        def: 78,
        sp_atk: 95,
        sp_def: 80,
        speed: 85,
    ),
    training: (
        base_exp: 175,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "tail-whip",
            level: 1,
        ),
        (
            move: "tail-whip",
            level: 5,
        ),
        (
            move: "disable",
            level: 1,
        ),
        (
            move: "disable",
            level: 10,
        ),
        (
            move: "hydro-pump",
            level: 58,
        ),
        (
            move: "confusion",
            level: 16,
        ),
        (
            move: "screech",
            level: 23,
        ),
        (
            move: "fury-swipes",
            level: 44,
        ),
        (
            move: "psych-up",
            level: 31,
        ),
        (
            move: "water-sport",
            level: 1,
        ),
    ],
)