(
    location: (
        min: (
            x: 0x12,
            y: 0x2A,
        ),
        max: (
            x: 0x13,
            y: 0x2A,
        )
    ),
    destination: (
        map: Some("route_2_houses"),
        index: "east_warp",
        position: (
            coords: (
                x: 7,
                y: 1,
            ),
            direction: Some(Down),
        ),
        transition: (
            move_on_exit: true,
            warp_on_tile: false,
        ),
    )
)