(
    location: (
        min: (
            x: 5,
            y: 14,
        ),
        max: (
            x: 6,
            y: 14,
        )
    ),
    destination: (
        location: (
            map: Some("route_2_houses"),
            index: "forest_north",
        ),
        position: (
            coords: (
                x: 7,
                y: 1,
            ),
            direction: Some(Down),
        ),
        transition: (
            move_on_exit: true,
            warp_on_tile: false,
        ),
    )
)