(
    location: (
        min: (
            x: 5,
            y: 51,
        ),
        max: (
            x: 6,
            y: 51,
        )
    ),
    destination: (
        location: (
            map: Some("route_2_houses"),
            index: "forest_south",
        ),
        position: (
            coords: (
                x: 7,
                y: 10,
            ),
            direction: Some(Up),
        ),
        transition: (
            move_on_exit: false,
            warp_on_tile: true,
        ),
    )
)