(
    location: (
        min: (
            x: 17,
            y: 22,
        ),
        max: (
            x: 17,
            y: 22,
        )
    ),
    destination: (
        location: (
            map: Some("route_2_houses"),
            index: "house",
        ),
        position: (
            coords: (
                x: 4,
                y: 7,
            ),
            direction: Some(Up),
        ),
        transition: (
            move_on_exit: false,
            warp_on_tile: true,
        ),
    )
)