(
    id: 373,
    name: "Salamence",
    primary_type: Dragon,
    secondary_type: Some(Flying),
    base: (
        hp: 95,
        atk: 135,
        def: 80,
        sp_atk: 110,
        sp_def: 80,
        speed: 100,
    ),
    data: (
        species: "Dragon",
        height: 15,
        weight: 1026,
    ),
    training: (
        base_exp: 270,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "fly",
            level: 50,
        ),
        (
            move: "headbutt",
            level: 1,
        ),
        (
            move: "headbutt",
            level: 17,
        ),
        (
            move: "double-edge",
            level: 93,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "leer",
            level: 9,
        ),
        (
            move: "bite",
            level: 1,
        ),
        (
            move: "bite",
            level: 5,
        ),
        (
            move: "ember",
            level: 25,
        ),
        (
            move: "rage",
            level: 1,
        ),
        (
            move: "focus-energy",
            level: 21,
        ),
        (
            move: "protect",
            level: 30,
        ),
        (
            move: "scary-face",
            level: 47,
        ),
        (
            move: "dragon-breath",
            level: 38,
        ),
        (
            move: "crunch",
            level: 61,
        ),
        (
            move: "dragon-claw",
            level: 79,
        ),
    ],
)