(
    data: (
        id: 196,
        name: "Espeon",
        primary_type: Psychic,
        secondary_type: None,
        species: "Sun",
        height: 9,
        weight: 265,
    ),
    base: (
        hp: 65,
        atk: 65,
        def: 60,
        sp_atk: 130,
        sp_def: 95,
        speed: 110,
    ),
    training: (
        base_exp: 184,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "sand-attack",
            level: 8,
        ),
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "tail-whip",
            level: 1,
        ),
        (
            move: "psybeam",
            level: 36,
        ),
        (
            move: "confusion",
            level: 16,
        ),
        (
            move: "psychic",
            level: 47,
        ),
        (
            move: "quick-attack",
            level: 23,
        ),
        (
            move: "swift",
            level: 30,
        ),
        (
            move: "morning-sun",
            level: 52,
        ),
        (
            move: "psych-up",
            level: 42,
        ),
        (
            move: "helping-hand",
            level: 1,
        ),
    ],
)