(
    id: "npc_0",
    npc: (
        character: (
            name: "NPC 9-8",
            position: (
                coords: (
                    x: 9,
                    y: 8,
                ),
                direction: Down,
            ),
            movement: Walking,
            worth: 0,
            frozen: false,
        ),
        type: "woman_1",
        movement: Still,
        interact: Nothing,
        trainer: None,
    ),
)