(
    id: 147,
    name: "Dratini",
    primary_type: Dragon,
    secondary_type: None,
    base: (
        hp: 41,
        atk: 64,
        def: 45,
        sp_atk: 50,
        sp_def: 50,
        speed: 50,
    ),
    data: (
        species: "Dragon",
        height: 18,
        weight: 33,
    ),
    training: (
        base_exp: 60,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "slam",
            level: 29,
        ),
        (
            move: "wrap",
            level: 1,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "hyper-beam",
            level: 57,
        ),
        (
            move: "dragon-rage",
            level: 22,
        ),
        (
            move: "thunder-wave",
            level: 8,
        ),
        (
            move: "agility",
            level: 36,
        ),
        (
            move: "outrage",
            level: 50,
        ),
        (
            move: "safeguard",
            level: 43,
        ),
        (
            move: "twister",
            level: 15,
        ),
    ],
)