(
    id: 285,
    name: "Shroomish",
    primary_type: Grass,
    secondary_type: None,
    base: (
        hp: 60,
        atk: 40,
        def: 60,
        sp_atk: 40,
        sp_def: 60,
        speed: 35,
    ),
    data: (
        species: "Mushroom",
        height: 4,
        weight: 45,
    ),
    training: (
        base_exp: 59,
        growth_rate: FastThenVerySlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "headbutt",
            level: 22,
        ),
        (
            move: "tackle",
            level: 4,
        ),
        (
            move: "absorb",
            level: 1,
        ),
        (
            move: "mega-drain",
            level: 16,
        ),
        (
            move: "leech-seed",
            level: 10,
        ),
        (
            move: "growth",
            level: 36,
        ),
        (
            move: "poison-powder",
            level: 28,
        ),
        (
            move: "stun-spore",
            level: 7,
        ),
        (
            move: "spore",
            level: 54,
        ),
        (
            move: "giga-drain",
            level: 45,
        ),
    ],
)