(
    id: 163,
    name: "Hoothoot",
    primary_type: Normal,
    secondary_type: Some(Flying),
    base: (
        hp: 60,
        atk: 30,
        def: 30,
        sp_atk: 36,
        sp_def: 56,
        speed: 50,
    ),
    data: (
        species: "Owl",
        height: 7,
        weight: 212,
    ),
    training: (
        base_exp: 52,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "take-down",
            level: 28,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "peck",
            level: 11,
        ),
        (
            move: "confusion",
            level: 34,
        ),
        (
            move: "hypnosis",
            level: 16,
        ),
        (
            move: "reflect",
            level: 22,
        ),
        (
            move: "dream-eater",
            level: 48,
        ),
        (
            move: "foresight",
            level: 6,
        ),
    ],
)