(
    data: (
        id: 232,
        name: "Donphan",
        primary_type: Ground,
        secondary_type: None,
        species: "Armor",
        height: 11,
        weight: 1200,
    ),
    base: (
        hp: 90,
        atk: 120,
        def: 120,
        sp_atk: 60,
        sp_def: 60,
        speed: 50,
    ),
    training: (
        base_exp: 175,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "horn-attack",
            level: 1,
        ),
        (
            move: "fury-attack",
            level: 25,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "earthquake",
            level: 49,
        ),
        (
            move: "defense-curl",
            level: 9,
        ),
        (
            move: "flail",
            level: 17,
        ),
        (
            move: "rollout",
            level: 33,
        ),
        (
            move: "rapid-spin",
            level: 41,
        ),
        (
            move: "odor-sleuth",
            level: 1,
        ),
    ],
)