(
    identifier: "rival",
    sprite: Walk,
    text_color: Blue,
    trainer: Some(
        (
            name: "Rival",
            type: Trainer,
            music: Some("EncounterRival"),
        )
    )
)