(
    data: (
        id: 148,
        name: "Dragonair",
        primary_type: Dragon,
        secondary_type: None,
        species: "Dragon",
        height: 40,
        weight: 165,
    ),
    base: (
        hp: 61,
        atk: 84,
        def: 65,
        sp_atk: 70,
        sp_def: 70,
        speed: 70,
    ),
    training: (
        base_exp: 147,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "slam",
            level: 29,
        ),
        (
            move: "wrap",
            level: 1,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "hyper-beam",
            level: 65,
        ),
        (
            move: "dragon-rage",
            level: 22,
        ),
        (
            move: "thunder-wave",
            level: 1,
        ),
        (
            move: "thunder-wave",
            level: 8,
        ),
        (
            move: "agility",
            level: 38,
        ),
        (
            move: "outrage",
            level: 56,
        ),
        (
            move: "safeguard",
            level: 47,
        ),
        (
            move: "twister",
            level: 1,
        ),
        (
            move: "twister",
            level: 15,
        ),
    ],
)