(
    identifier: "route_6",
    name: "Route 6",
    file: "3.24_ROUTE 6.map",
    
    chunk: Some((
        coords: (
            x: 276,
            y: 160,
        ),
        connections: [
            "vermilion",
            "saffron"
        ],
    )),
)