(
    data: (
        id: 348,
        name: "Armaldo",
        primary_type: Rock,
        secondary_type: Some(Bug),
        species: "Plate",
        height: 15,
        weight: 682,
    ),
    base: (
        hp: 75,
        atk: 125,
        def: 100,
        sp_atk: 70,
        sp_def: 80,
        speed: 45,
    ),
    training: (
        base_exp: 173,
        growth_rate: SlowThenVeryFast,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "scratch",
            level: 1,
        ),
        (
            move: "water-gun",
            level: 1,
        ),
        (
            move: "water-gun",
            level: 19,
        ),
        (
            move: "harden",
            level: 1,
        ),
        (
            move: "harden",
            level: 7,
        ),
        (
            move: "slash",
            level: 55,
        ),
        (
            move: "protect",
            level: 31,
        ),
        (
            move: "fury-cutter",
            level: 46,
        ),
        (
            move: "metal-claw",
            level: 25,
        ),
        (
            move: "ancient-power",
            level: 37,
        ),
        (
            move: "mud-sport",
            level: 1,
        ),
        (
            move: "mud-sport",
            level: 13,
        ),
        (
            move: "rock-blast",
            level: 64,
        ),
    ],
)