(
    location: (
        min: (
            x: 32,
            y: 5,
        ),
        max: (
            x: 32,
            y: 5,
        ),
    ),
    destination: (
        map_id: "mt_moon",
        map_index: 1,
        position: (
            coords: (
                x: 0x2D,
                y: 0x04,
            ),
            direction: Some(Left),
        ),
    ),
)