(
    location: (
        min: (
            x: 6,
            y: 4,
        ),
        max: (
            x: 6,
            y: 4,
        ),
    ),
    destination: (
        map: Some("digletts_cave"),
        index: "cave",
        position: (
            coords: (
                x: 3,
                y: 3,
            ),
        ),
    ),
)