(
    location: (
        min: (
            x: 6,
            y: 4,
        ),
        max: (
            x: 6,
            y: 4,
        ),
    ),
    destination: (
        location: (
            map: Some("digletts_cave"),
            index: "cave",
        ),
        position: (
            coords: (
                x: 3,
                y: 3,
            ),
        ),
        transition: (
            move_on_exit: false,
            warp_on_tile: true,
        ),
    ),
)