(
    location: (
        min: (
            x: 6,
            y: 15,
        ),
        max: (
            x: 6,
            y: 15,
        )
    ),
    destination: (
        location: (
            index: "pewter",
        ),
        position: (
            coords: (
                x: 15,
                y: 16,
            ),
            direction: Some(Down),
        ),
        transition: (
            move_on_exit: true,
            warp_on_tile: false,
        ),
    )
)