(
    identifier: "fuchsia",
    name: "Fuchsia City",
    file: "3.7_FUCHSIA CITY.map",

    chunk: {
        Right: ("route_15", 10),
        Left: ("route_18", 10),
        Down: ("route_19", 12),
    },
)