(
    data: (
        id: 114,
        name: "Tangela",
        primary_type: Grass,
        secondary_type: None,
        species: "Vine",
        height: 10,
        weight: 350,
    ),
    base: (
        hp: 65,
        atk: 55,
        def: 115,
        sp_atk: 100,
        sp_def: 40,
        speed: 60,
    ),
    training: (
        base_exp: 87,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "bind",
            level: 28,
        ),
        (
            move: "slam",
            level: 40,
        ),
        (
            move: "vine-whip",
            level: 22,
        ),
        (
            move: "absorb",
            level: 10,
        ),
        (
            move: "mega-drain",
            level: 31,
        ),
        (
            move: "growth",
            level: 13,
        ),
        (
            move: "poison-powder",
            level: 19,
        ),
        (
            move: "stun-spore",
            level: 37,
        ),
        (
            move: "sleep-powder",
            level: 4,
        ),
        (
            move: "constrict",
            level: 1,
        ),
        (
            move: "ingrain",
            level: 1,
        ),
        (
            move: "tickle",
            level: 46,
        ),
    ],
)