(
    location: (
        min: (
            x: 0x21,
            y: 0x0B,
        ),
        max: (
            x: 0x21,
            y: 0x0B,
        )
    ),
    destination: (
        location: (
            map: Some("pewter_houses"),
            index: "east",
        ),
        position: (
            coords: (
                x: 4,
                y: 7,
            ),
            direction: Some(Up),
        ),
        transition: (
            move_on_exit: false,
            warp_on_tile: true,
        ),
    ),
)