(
    id: 144,
    name: "Articuno",
    primary_type: Ice,
    secondary_type: Some(Flying),
    base: (
        hp: 90,
        atk: 85,
        def: 100,
        sp_atk: 95,
        sp_def: 125,
        speed: 85,
    ),
    data: (
        species: "Freeze",
        height: 17,
        weight: 554,
    ),
    training: (
        base_exp: 261,
        growth_rate: Slow,
    ),
    breeding: (
        gender: None,
    ),
    moves: [
        (
            move: "gust",
            level: 1,
        ),
        (
            move: "mist",
            level: 13,
        ),
        (
            move: "ice-beam",
            level: 49,
        ),
        (
            move: "blizzard",
            level: 73,
        ),
        (
            move: "agility",
            level: 25,
        ),
        (
            move: "reflect",
            level: 61,
        ),
        (
            move: "mind-reader",
            level: 37,
        ),
        (
            move: "powder-snow",
            level: 1,
        ),
        (
            move: "sheer-cold",
            level: 85,
        ),
    ],
)