(
    id: 168,
    name: "Ariados",
    primary_type: Bug,
    secondary_type: Some(Poison),
    base: (
        hp: 70,
        atk: 90,
        def: 70,
        sp_atk: 60,
        sp_def: 70,
        speed: 40,
    ),
    data: (
        species: "Long",
        height: 11,
        weight: 335,
    ),
    training: (
        base_exp: 140,
        growth_rate: Fast,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "poison-sting",
            level: 1,
        ),
        (
            move: "string-shot",
            level: 1,
        ),
        (
            move: "psychic",
            level: 63,
        ),
        (
            move: "agility",
            level: 53,
        ),
        (
            move: "night-shade",
            level: 17,
        ),
        (
            move: "constrict",
            level: 1,
        ),
        (
            move: "constrict",
            level: 11,
        ),
        (
            move: "leech-life",
            level: 25,
        ),
        (
            move: "fury-swipes",
            level: 34,
        ),
        (
            move: "spider-web",
            level: 43,
        ),
        (
            move: "scary-face",
            level: 1,
        ),
        (
            move: "scary-face",
            level: 6,
        ),
    ],
)