(
        identifier: "route_7",
        name: "Route 7",
        file: "3.25_ROUTE 7.map",

    chunk: Some((
        coords: (
            x: 240,
            y: 130,
        ),
        connections: [
            "celadon",
            "saffron",
        ],
    )),
)