(
    id: 20,
    name: "Raticate",
    primary_type: Normal,
    secondary_type: None,
    base: (
        hp: 55,
        atk: 81,
        def: 60,
        sp_atk: 50,
        sp_def: 70,
        speed: 97,
    ),
    data: (
        species: "Mouse",
        height: 7,
        weight: 185,
    ),
    training: (
        base_exp: 145,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "tail-whip",
            level: 1,
        ),
        (
            move: "quick-attack",
            level: 1,
        ),
        (
            move: "quick-attack",
            level: 7,
        ),
        (
            move: "hyper-fang",
            level: 13,
        ),
        (
            move: "super-fang",
            level: 40,
        ),
        (
            move: "scary-face",
            level: 20,
        ),
        (
            move: "pursuit",
            level: 30,
        ),
        (
            move: "endeavor",
            level: 50,
        ),
    ],
)