(
    id: 184,
    name: "Azumarill",
    primary_type: Water,
    secondary_type: Some(Fairy),
    base: (
        hp: 100,
        atk: 50,
        def: 80,
        sp_atk: 60,
        sp_def: 80,
        speed: 50,
    ),
    data: (
        species: "Aqua",
        height: 8,
        weight: 285,
    ),
    training: (
        base_exp: 189,
        growth_rate: Fast,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "double-edge",
            level: 34,
        ),
        (
            move: "tail-whip",
            level: 1,
        ),
        (
            move: "tail-whip",
            level: 6,
        ),
        (
            move: "water-gun",
            level: 1,
        ),
        (
            move: "water-gun",
            level: 10,
        ),
        (
            move: "hydro-pump",
            level: 57,
        ),
        (
            move: "bubble-beam",
            level: 24,
        ),
        (
            move: "defense-curl",
            level: 1,
        ),
        (
            move: "defense-curl",
            level: 3,
        ),
        (
            move: "rollout",
            level: 15,
        ),
        (
            move: "rain-dance",
            level: 45,
        ),
    ],
)