(
    data: (
        id: 166,
        name: "Ledian",
        primary_type: Bug,
        secondary_type: Some(Flying),
        species: "Five",
        height: 14,
        weight: 356,
    ),
    base: (
        hp: 55,
        atk: 35,
        def: 50,
        sp_atk: 55,
        sp_def: 110,
        speed: 85,
    ),
    training: (
        base_exp: 137,
        growth_rate: Fast,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "comet-punch",
            level: 15,
        ),
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "double-edge",
            level: 60,
        ),
        (
            move: "supersonic",
            level: 1,
        ),
        (
            move: "supersonic",
            level: 8,
        ),
        (
            move: "agility",
            level: 51,
        ),
        (
            move: "light-screen",
            level: 24,
        ),
        (
            move: "reflect",
            level: 24,
        ),
        (
            move: "swift",
            level: 42,
        ),
        (
            move: "safeguard",
            level: 24,
        ),
        (
            move: "baton-pass",
            level: 33,
        ),
    ],
)