(
    id: 263,
    name: "Zigzagoon",
    primary_type: Normal,
    secondary_type: None,
    base: (
        hp: 38,
        atk: 30,
        def: 41,
        sp_atk: 30,
        sp_def: 41,
        speed: 60,
    ),
    data: (
        species: "Tiny",
        height: 4,
        weight: 175,
    ),
    training: (
        base_exp: 56,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "sand-attack",
            level: 13,
        ),
        (
            move: "headbutt",
            level: 9,
        ),
        (
            move: "tackle",
            level: 1,
        ),
        (
            move: "tail-whip",
            level: 5,
        ),
        (
            move: "pin-missile",
            level: 25,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "rest",
            level: 37,
        ),
        (
            move: "flail",
            level: 33,
        ),
        (
            move: "belly-drum",
            level: 41,
        ),
        (
            move: "mud-sport",
            level: 21,
        ),
        (
            move: "odor-sleuth",
            level: 17,
        ),
        (
            move: "covet",
            level: 29,
        ),
    ],
)