(
    id: 276,
    name: "Taillow",
    primary_type: Normal,
    secondary_type: Some(Flying),
    base: (
        hp: 40,
        atk: 55,
        def: 30,
        sp_atk: 30,
        sp_def: 30,
        speed: 85,
    ),
    data: (
        species: "Tiny",
        height: 3,
        weight: 23,
    ),
    training: (
        base_exp: 54,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "wing-attack",
            level: 13,
        ),
        (
            move: "growl",
            level: 1,
        ),
        (
            move: "peck",
            level: 1,
        ),
        (
            move: "agility",
            level: 43,
        ),
        (
            move: "quick-attack",
            level: 8,
        ),
        (
            move: "double-team",
            level: 19,
        ),
        (
            move: "focus-energy",
            level: 4,
        ),
        (
            move: "endeavor",
            level: 26,
        ),
        (
            move: "aerial-ace",
            level: 34,
        ),
    ],
)