(
    data: (
        id: 372,
        name: "Shelgon",
        primary_type: Dragon,
        secondary_type: None,
        species: "Endurance",
        height: 11,
        weight: 1105,
    ),
    base: (
        hp: 65,
        atk: 95,
        def: 100,
        sp_atk: 60,
        sp_def: 50,
        speed: 50,
    ),
    training: (
        base_exp: 147,
        growth_rate: Slow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "headbutt",
            level: 1,
        ),
        (
            move: "headbutt",
            level: 17,
        ),
        (
            move: "double-edge",
            level: 78,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "leer",
            level: 9,
        ),
        (
            move: "bite",
            level: 1,
        ),
        (
            move: "bite",
            level: 5,
        ),
        (
            move: "ember",
            level: 25,
        ),
        (
            move: "rage",
            level: 1,
        ),
        (
            move: "focus-energy",
            level: 21,
        ),
        (
            move: "protect",
            level: 30,
        ),
        (
            move: "scary-face",
            level: 47,
        ),
        (
            move: "dragon-breath",
            level: 38,
        ),
        (
            move: "crunch",
            level: 56,
        ),
        (
            move: "dragon-claw",
            level: 69,
        ),
    ],
)