(
    location: (
        min: (
            x: 11,
            y: 2,
        ),
        max: (
            x: 11,
            y: 2,
        )
    ),
    destination: (
        map_id: "pallet_houses",
        map_index: 1,
        position: (
            coords: (
                x: 10,
                y: 2,
            ),
            direction: Some(Right),
        ),
        transition: (
            move_on_exit: true,
            warp_on_tile: true,
        ),
    ),
)
