(
    id: 252,
    name: "Treecko",
    primary_type: Grass,
    secondary_type: None,
    base: (
        hp: 40,
        atk: 45,
        def: 35,
        sp_atk: 65,
        sp_def: 55,
        speed: 70,
    ),
    data: (
        species: "Wood",
        height: 5,
        weight: 50,
    ),
    training: (
        base_exp: 62,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(1),
    ),
    moves: [
        (
            move: "pound",
            level: 1,
        ),
        (
            move: "slam",
            level: 36,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "absorb",
            level: 6,
        ),
        (
            move: "mega-drain",
            level: 26,
        ),
        (
            move: "agility",
            level: 31,
        ),
        (
            move: "quick-attack",
            level: 11,
        ),
        (
            move: "screech",
            level: 21,
        ),
        (
            move: "detect",
            level: 41,
        ),
        (
            move: "giga-drain",
            level: 46,
        ),
        (
            move: "pursuit",
            level: 16,
        ),
    ],
)