(
        identifier: "route_13",
        name: "Route 13",
        file: "3.31_ROUTE 13.map",

    chunk: Some((
        coords: (
            x: 336,
            y: 270,
        ),
        connections: [
            "route_12",
            "route_14",
        ],
    )),
)