(
    data: (
        id: 150,
        name: "Mewtwo",
        primary_type: Psychic,
        secondary_type: None,
        species: "Genetic",
        height: 20,
        weight: 1220,
    ),
    base: (
        hp: 106,
        atk: 110,
        def: 90,
        sp_atk: 154,
        sp_def: 90,
        speed: 130,
    ),
    training: (
        base_exp: 306,
        growth_rate: Slow,
    ),
    breeding: (
        gender: None,
    ),
    moves: [
        (
            move: "disable",
            level: 1,
        ),
        (
            move: "mist",
            level: 22,
        ),
        (
            move: "confusion",
            level: 1,
        ),
        (
            move: "psychic",
            level: 66,
        ),
        (
            move: "recover",
            level: 44,
        ),
        (
            move: "barrier",
            level: 11,
        ),
        (
            move: "swift",
            level: 33,
        ),
        (
            move: "amnesia",
            level: 99,
        ),
        (
            move: "safeguard",
            level: 55,
        ),
        (
            move: "psych-up",
            level: 77,
        ),
        (
            move: "future-sight",
            level: 88,
        ),
    ],
)