(
    chunk: Some((
        config: (
            name: "Route 17",
            file: "3.35_ROUTE 17.map",
        ),
        piece_index: 35,
        coords: (
            x: 132,
            y: 150,
        ),
        connections: [34, 36],
    ))
)