(
    location: (
        min: (
            x: 7,
            y: 1,
        ),
        max: (
            x: 7,
            y: 1,
        )
    ),
    destination: (
        location: (
            index: "route_2",
        ),
        position: (
            coords: (
                x: 0x12,
                y: 0x29,
            ),
            direction: Some(Up),
        ),
        transition: (
            move_on_exit: false,
            warp_on_tile: false,
        ),
    )
)