(
    data: (
        id: 123,
        name: "Scyther",
        primary_type: Bug,
        secondary_type: Some(Flying),
        species: "Mantis",
        height: 15,
        weight: 560,
    ),
    base: (
        hp: 70,
        atk: 110,
        def: 80,
        sp_atk: 55,
        sp_def: 80,
        speed: 105,
    ),
    training: (
        base_exp: 100,
        growth_rate: Medium,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "swords-dance",
            level: 36,
        ),
        (
            move: "wing-attack",
            level: 26,
        ),
        (
            move: "leer",
            level: 1,
        ),
        (
            move: "agility",
            level: 21,
        ),
        (
            move: "quick-attack",
            level: 1,
        ),
        (
            move: "double-team",
            level: 41,
        ),
        (
            move: "focus-energy",
            level: 6,
        ),
        (
            move: "slash",
            level: 31,
        ),
        (
            move: "false-swipe",
            level: 16,
        ),
        (
            move: "fury-cutter",
            level: 46,
        ),
        (
            move: "pursuit",
            level: 11,
        ),
    ],
)