(
    identifier: "rival_fight_1",
    conditions: [
        Script("oak_catch", true),
        PlayerHasPokemon(true),
        Location((
            min: (
                x: 5,
                y: 8,
            ),
            max: (
                x: 7,
                y: 8,
            ),
        )),
        NoRepeat,
    ],
    actions: [
        PlayerFreezeInput,
        PlayMusic("encounter_rival"),
        NpcSay(
            "rival",
            [
                [
                    "%r: Wait, %p!",
                    "Let's check out our POKEMON!"
                ],
                [
                    "Come on, I'll take you on!"
                ],
            ],
        ),
        NpcMoveToPlayer("rival"),
        NpcBattle("rival"),
        NpcMove("rival", 6, 11),
        NpcRemove("rival"),
        PlayMapMusic,
        PlayerUnfreezeInput,
    ]
)