(
    identifier: "oak_pokemon",
    location: None,
    conditions: [
        Scripts([
            (
                identifier: "oak_catch",
                happened: true,
            ),
            (
                identifier: "oak_pokemon",
                happened: false,
            ),
        ])
    ],
    actions: [
        PlayerFreezeInput,
        NPCAdd(
            "oak_temp",
            (
                name: "Oak",
                type: "prof_oak",
                character: (
                    position: (
                        coords: (
                            x: 6,
                            y: 11
                        ),
                        direction: Up
                    ),
                ),
            )
        ),
        PlayMusic("Oak"),
        Wait(0.5),
        NPCMove(
            "oak_temp",
            (
                coords: (
                    x: 6,
                    y: 7,
                ),
            ),
        ),
        NPCRemove("oak_temp"),
        NPCAdd(
            "gary",
            (
                name: "%r",
                type: "rival",
                character: (
                    position: (
                        coords: (
                            x: 5,
                            y: 4,
                        ),
                        direction: Down,
                    ),
                ),
                trainer: Some(
                    (
                        battle_on_interact: false,
                        encounter_message: [],
                        party: [
                            (
                                id: 7,
                                data: (
                                    level: 5,
                                    gender: Male,
                                ),
                            ),
                        ],
                        worth: 80,
                    )
                ),
            )
        ),
        PlayerMove(
            (
                coords: (
                    x: 6,
                    y: 4,
                ),
                direction: Some(Up),
            )
        ),
        NPCSay(
            "oak",
            [(
                lines: [
                    "Here's some pokemon"
                ]                
            )],
        ),
        PlayerGivePokemon(
            (
                id: 1,
                data: (
                    level: 5,
                    gender: Male,
                ),
            )
        ),
        PlayerGivePokemon(
            (
                id: 4,
                data: (
                    level: 5,
                    gender: Male,
                ),
            )
        ),
        PlayerGivePokemon(
            (
                id: 7,
                data: (
                    level: 5,
                    gender: Female,
                ),
            )
        ),
        PlayMapMusic,
        PlayerUnfreezeInput,
    ]
)