(
    id: 62,
    name: "Poliwrath",
    primary_type: Water,
    secondary_type: Some(Fighting),
    base: (
        hp: 90,
        atk: 95,
        def: 95,
        sp_atk: 70,
        sp_def: 90,
        speed: 70,
    ),
    data: (
        species: "Tadpole",
        height: 13,
        weight: 540,
    ),
    training: (
        base_exp: 230,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "double-slap",
            level: 1,
        ),
        (
            move: "water-gun",
            level: 1,
        ),
        (
            move: "submission",
            level: 1,
        ),
        (
            move: "submission",
            level: 35,
        ),
        (
            move: "hypnosis",
            level: 1,
        ),
        (
            move: "mind-reader",
            level: 51,
        ),
    ],
)