(
    location: (
        min: (
            x: 6,
            y: 18,
        ),
        max: (
            x: 6,
            y: 18,
        ),
    ),
    destination: (
        location: (
            map: None,
            index: "celadon",
        ),
        position: (
            coords: (
                x: 11,
                y: 30,
            ),
            direction: None,
        ),
        transition: (
            move_on_exit: false,
            warp_on_tile: true,
            change_music: true,
        ),
    ),
)