(
    id: 61,
    name: "Poliwhirl",
    primary_type: Water,
    secondary_type: None,
    base: (
        hp: 65,
        atk: 65,
        def: 65,
        sp_atk: 50,
        sp_def: 50,
        speed: 90,
    ),
    data: (
        species: "Tadpole",
        height: 10,
        weight: 200,
    ),
    training: (
        base_exp: 135,
        growth_rate: MediumSlow,
    ),
    breeding: (
        gender: Some(4),
    ),
    moves: [
        (
            move: "double-slap",
            level: 19,
        ),
        (
            move: "body-slam",
            level: 35,
        ),
        (
            move: "water-gun",
            level: 1,
        ),
        (
            move: "water-gun",
            level: 13,
        ),
        (
            move: "hydro-pump",
            level: 51,
        ),
        (
            move: "hypnosis",
            level: 1,
        ),
        (
            move: "hypnosis",
            level: 7,
        ),
        (
            move: "bubble",
            level: 1,
        ),
        (
            move: "belly-drum",
            level: 43,
        ),
        (
            move: "rain-dance",
            level: 27,
        ),
    ],
)